$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.carousel-indicators {
  li {
    background-color: #66a5d1;
    border-color: #66a5d1;
  }
  .active {
    border-color: #66a5d1;
  }
}

.video-heading {
  background-color: #0168b3;
  color: #fff;
  text-transform: uppercase;
  padding: 3% 0;
  // padding: 10px 20px;
  text-align: center;
  // font-size: 25px;
  // font-weight: bold;
  p {
    margin: 0;
    // margin: 0 0 23px;
    span {
      // font-weight: normal;
      // font-size: 15px;
      // float: left;
      // margin: 0 22px;
    }
  }
  p.welcome {
    font-size: 25px;
    font-weight: bold;
  }
}

.second-info-col {
  .video-heading {
    font-size: 13px;
    p {
      margin: 0;
    }
  }
  img {
    width: 100%;
  }
  .big-title-info {
    color: #0168b3;
    font-size: 30px;
    margin-top: 10px;
  }
  .info-descrip {
    color: #6e6f73;
  }
  .carousel.slide {
    .carousel-inner {
      div {
        img {
          height: 178px;
        }
      }
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.main-info {
  position: relative;
  z-index: -1;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  // .container {
  //   ul {
  //     li {
  //     list-style: none;
  //     float: left;
  //     margin: 0 9px;
  //     background: #0067b1;
  //     border-radius: 50%;
  //     color: #fff;
  //     padding: 8px 13px;
  //     }
  //   }
  // }
  .container {
    ul {
      float: right;
      li {
        background: url('../images/social-footer.png');
        width: 50px;
        height: 35px;
        background-size: 241px;
        list-style: none;
        float: left;
        a {
          // visibility:hidden;
          text-indent :-9999px;
          width: 36px;
          height: 35px;
          cursor: pointer;
          display: inline-block;
        }
      }
      #social-email {
        background-position: 0 0;
      }
      #social-fb {
        background-position: -51px 0;
      }
      #social-twitter {
        background-position: -102px 0;
      }
      #social-ig {
        background-position: -154px 0;
      }
      #social-youtube {
        background-position: -206px 0;
        width: 35px;
      }
    }
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
/* iPad screen size */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    // max-width: 960px;
    // max-width: 730px;
  }

  .mobile-nav {
    display: none;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*main nav*/
.navbar-collapse.even.collapse.in {
  width: 100%;
  padding: 0;
}
#main-nav {
  .navbar-default {
    padding: 10px 0;
    background-color: #006bb3;
    // border-color: #006bb3;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    border: 0;
    .container {
      .navbar-header {
        width: 14%;
        margin-right: 0;
        .nav-logo {
          background: #fff;
          padding: 14px 0 0 10px;
          width: 100%;
          height: 60px;
          display: inline-block;
          cursor: pointer;
          img {
            width: 93%;
          }
        }
      }
      .translate-container {
        float: left;
        width: 20%;
        margin: 18px 50px;
        form {
          div {
            float: left;
          }
          div:first-child {
            width: 37%;
          }
          label {
            font-weight: 300;
            color: #fbaf3f;
            text-transform: uppercase;
            margin-right: 15px;
          }
        }
      }
      .navbar-collapse {
        float: left;
        border: 0;
      }
    }
    .navbar-nav {
      margin-top: 16px;
      li {
        border-right: 1px solid #fff;
        a {
          font-weight: 300;
          letter-spacing: 1px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar.navbar-default {
    border-radius: 0;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
}

/*Lower nav*/

.desktop-nav {
  margin: 44px 0 24px 0;
}

#nav {
  padding-left: 0;
  padding-right: 28px;
  list-style: none;
  background-color: #e95853;
  height: 40px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em;

    position: absolute;
    top: 40px;
    left: 17px;
    width: 14em;
    display: none;
    ul {
      top:auto;
    }
  }
  a:link,
  a:active,
  a:visited {
    display:block;
    padding: 10px 0;
    color:#fff;
    text-decoration:none;
  }
  a.nav-link {
    background-color:#e95853;
  }
  a.even {
    background-color: #0e76bd;
  }
  li {
    float:left;
    position:relative;
    ul {
      a {
        width:14em;
        float:left;
      }
      ul {
        left:12em;
        margin:0px 0 0 10px;
      }
      span {
        width: 100%;
        height: 8px;
        display: inline-block;
        background-color: #0c65a1;
      }
      li {
        a:link {
          background-color: #0e76bd;
          border-top: 1px solid #fff;
          padding: 10px 0 10px 20px;
          text-align: left;
        }
        a:link:hover {
          background-color: #0c65a1;
        }
      }
      li:before {
        content: "•";
        padding-left: 4%;
        color: #fff;
        top: 11px;
        font-size: 25px;
        position: absolute;
        display: inherit;
      }
    }
    ul.even-sub-menu {
      li {
        a:link {
          background-color: #e95853;
        }
        a:link:hover {
          background-color: #ab0b25;
        }
      }
      span {
        background-color: #ab0b25;
      }
    }
  }
  li:hover {
    ul {
      display:block;
      ul {
        display:none;
      }
    }
  }
  li.nav-figure {
    text-align: center;
    width: 20%;
    float:left;
    position: relative;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:skew(35deg);
    -moz-transform:skew(35deg);
    -ms-transform:skew(35deg);
    -o-transform:skew(35deg);
    transform:skew(35deg);
    a {
      span {
        -webkit-transform:skew(-35deg);
        -moz-transform:skew(-35deg);
        -ms-transform:skew(-35deg);
        -o-transform:skew(-35deg);
        transform:skew(-35deg);
        display:block;
      }
    }
    ul {
      -webkit-transform-origin:0 0;
      -moz-transform-origin:0 0;
      -ms-transform-origin:0 0;
      -o-transform-origin:0 0;
      transform-origin:0 0;
      -webkit-transform:skew(-35deg);
      -moz-transform:translate(0,1px) skew(-35deg);
      -ms-transform:skew(-35deg);
      -o-transform:skew(-35deg);
      transform:skew(-35deg);

      background-color: #0e76bd;
      margin-top: -7px;
    }
    ul.even-sub-menu {
      background-color: #e95853;
    }
  }
}

/* en el tiempo */

.en-el-tiempo {
  display: flex;
  width: 100%;
  // margin-left: -160px;
  background-image: url("../images/en-el-tiempo-banner.jpg");
  background-repeat: repeat-x;
  background-size: 100%;
  min-height: 580px;
  .en-el-tiempo-banner {
    background: rgba(227, 24, 55, 0.42);
    height: 284px;
    // margin-top: 20%;
    // margin-top: 20.4%;
    align-self: flex-end;
    width: 100%;
    float: left;
    padding: 20px 0;
    color: #fff;
    div {
      width: 50%;
      float: left;
      img {
        float: right;
        padding: 40px;
      }
      .en-el-tiempo-desc {
        border-left: 1px solid #fff;
        padding: 20px;
      }
    }
    .tiempo-historia {
      width: 50%;
      // margin-left: -218px;
      div {
        width: 65%;
      }
      div:first-child {
        width: 35%;
      }
    }
    .nuestro-fundador {
      p {
        width: 50%;
        float: left;
      }
      ul {
        list-style: none;
        border-top: 1px solid #fff;
        width: 80%;
        padding: 12px 19px;
        margin-top: 60px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        li {
          div {
            width: 120px;
            height: 120px;
            background-color: #00a79d;
            border-radius: 50%;
            margin: 0 4%;
            img {
              padding: 11px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/* timeline */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-top: 5%;
  li {
    margin-bottom: 20px;
    position: relative;
    .timeline-panel {
      width: 42%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      margin-top: 20px;
      .timeline-heading {
        .timeline-title {
          margin-top: 0;
          font-weight: 600;
          color: #0168b3;
        }
      }
      .timeline-body {
        p, ul {
          margin-bottom: 0;
          color: #6e6f73;
        }
        p + p {
          margin-top: 5px;
        }
      }
    }
    .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " ";
    }
    .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    .timeline-badge {
      color: #fff;
      width: 120px;
      height: 120px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;

      left: 47%;
      margin-left: -25px;
      background-color: #00a79d;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      img {
        margin-top: 8px;
      }
    }
    .timeline-badge.primary {
      background-color: #2e6da4 !important;
    }
    .timeline-badge.success {
      background-color: #1b75bb !important;
    }
    .timeline-badge.warning {
      background-color: #f7931d !important;
    }
    .timeline-badge.danger {
      background-color: #ef4036 !important;
    }
    .timeline-badge.info {
      background-color: #8cc63e !important;
    }
  }
  li.timeline-inverted {
    .timeline-panel{
      float: right;
    }
    .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  } 
  li:before,
  li:after {
    content: " ";
    display: table;
  }
  li:after {
    clear: both;
  }
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

// #centroLiderazgoMenu {
//   position: fixed;
//   top: 0;
//   left: -14px;
//   z-index: 999;
//   width: 328px;
//   -webkit-transition: all linear .15s;
//   -moz-transition: all linear .15s;
//   -o-transition: all linear .15s;
//   transition: all linear .15s;
//   div {
//     margin-top: 117%;
//     ul {
//     padding-left: 0;
//     padding-right: 28px;
//     list-style: none; 
//     height: 40px;
//       li {
//         text-align: center;
//         width: 64%;
//         position: relative;
//         transform-origin: 0 0;
//         padding-right: 38px;
//         transform: skew(35deg);
//         background-color: #0e76bd;
//         margin-bottom: 15px;
//         a {
//           span {
//             transform: skew(-35deg);
//             display: block;
//             color: #fff;
//             padding: 8px 0;
//             background-color: #0e76bd;
//             margin-left: -12px;
//             text-align: left;
//             padding-left: 20px;
//           }
//         }
//         a:hover {
//           text-decoration: none;
//         }
//       }
//       .selected-opt {
//         background-color: #e95853;
//         a {
//           span {
//             background-color: #e95853;
//           }
//         }
//       }
//     }
//   }
// }

#centroDeLiderazgo {
  .agendaQuincenal {
    h3 {
      color: #0168b3;
      font-size: 30px;
      text-transform: uppercase;
      margin-left: 40px;
    }
    ul {
      li {
        list-style: none;
        width: 19%;
        float: left;
        padding: 10px 0;
        text-align: center;
      }
    }
    .agendaHeading {
      li {
        background-color: #0168b3;
        color: #fff; 
        margin-right: 3px;
      }
    }
    .agendaTableContent {
      li {
        background-color: #cdced0;
        color: #6e6f73;
        max-height: 40px;
        min-height: 40px;
        margin: 3px 3px 0 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  /*main nav*/
  #main-nav {
    .navbar-default {

      .container {
        .navbar-header {
          margin-right: 0;
        }
        .translate-container {
          margin: 18px 145px;
          float: right;
          form {
            div:first-child {
              width: 45%;
            }
          }
        }
      }
    }
  }
  /*Proyectos Sociales*/
  .proyect-info-container {
    div {
      width: 29% !important;
      span {
        width: 27.6% !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  /*main nav*/
  #main-nav {
    .navbar-default {
      .container {
        .navbar-header {
          margin-right: 0;
        }
        .navbar-collapse {
          padding: 0;
        }
        .translate-container {
          width: 100%;
          margin: 0;
          form {
            div {
              float: right;
            }
            div:first-child {
              width: 100px;
            }
          }
        }
      }
    }
  }
  /* Proyectos Sociales */
  .proyect-info-container {
    div {
      span {
        width: 27.8% !important;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .header {
    padding: 0;
  }
  /*main nav*/
  #main-nav {
    .navbar-default {
      padding: 0;
      .container {
        .navbar-header {
          width: 100%;
          button {
            z-index: 2;
          }
          .nav-logo {
            position: absolute;
            width: 100%;
            img {
              width: 166px;
            }
          }
        }
        .navbar-collapse {
          background-color: #e95853;
          width: 107.7%;
          margin-top: 10px;
          overflow: hidden;
          padding-left: 10px;
        }
        .translate-container {
          width: 100%;
          margin: 20px 0 7px 0;
          form {
            div {
              float: right;
            }
            div:first-child {
              width: 100px;
            }
          }
        }
      }
    }
  }
  /*Proyectos Sociales*/
  .proyect-info-container {
    div {
      width: 42% !important;
      span {
        width: 40.3% !important;
      }
    }
  }
}

/* iPad screen size */
@media screen and (max-width: 768px) {
  /*Proyectos Sociales*/
  .proyectos-title {
    padding-top: 20px;
    padding-left: 118px !important;
    height: 102px !important;
    font-size: 37px !important;
    margin-left: 12% !important;
    width: 90% !important;
  }
   /* Centro De Liderazgo */
  #centroDeLiderazgo {
    .proyectos-title {
      margin-left: 8% !important;
    }
    .agendaQuincenal {
      h3 {
        margin-left: 0;
      }
      ul {
        padding: 0;
        li {
          width: 19.5%;
        }
      }
    }
  }

  #centroLiderazgoMenu {
    div {
      margin-top: 150%;
    }
  }

  .timeline {
    li {
      .timeline-panel {
        width: 36%;
      }
      .timeline-badge {
        left: 45%;
        margin-left: -19px;
      }
    }
  }













/* en el tiempo */

.en-el-tiempo {
  // width: 125.5%;
      min-height: 333px;
  .en-el-tiempo-banner {
       padding: 10px 0;
    height: 332px;
    // margin-top: 0;


    div {
     
      img {
      
      }
      .en-el-tiempo-desc {
        h1 {
              font-size: 28px;
        }
      }
    }
    .tiempo-historia {
         // margin-left: 60px;
             // width: 54%;
    }
    .nuestro-fundador {
        // width: 36%;
            margin-top: 5%;
      p.fundador-date {
           text-align: right;
      }
      ul {
          width: 100%;
    display: inline-block;
    margin-top: 0;
    height: 30px;
    padding: 12px 34px;

        li {
          div {
             width: 70px;
    height: 70px;
        margin-right: 4%;
    margin-left: 4%;

           
            img {
              width: 100%;
         
            }
          }
        }
      }
    }
  }
}













}

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

  #main-nav {
    .navbar-default {
      .container .translate-container {
        margin: 18px 0;
      }
    }
  }

  .timeline {
    li {
      .timeline-panel {
        width: 40%;
      }
      .timeline-badge {
        margin-left: -32px;
      }
    }
  }

  .en-el-tiempo {
    min-height: 444px;
    .en-el-tiempo-banner {
      // margin-top: 14.4%;
      height: 297px;
      .nuestro-fundador {
        margin-top: 4%;
        ul {
          padding: 12px 0;
          li {
            div {
              width: 100px;
              height: 100px;
              margin-right: 4%;
              margin-left: 3%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

}

/* iPhone 6 Plus screen size */
@media screen and (max-width: 414px) {
  /*Proyectos Sociales*/
  .proyect-info-container {
    div {
      span {
        width: 39% !important;
      }
    }
  }
   /* Centro De Liderazgo */
  #centroDeLiderazgo {
    .proyectos-title {
      padding-top: 0;
      padding-left: 68px !important;
    }
    .agendaQuincenal {
      ul {
        li {
          width: 19.2%;
        }
      }
    }
  }

  #centroLiderazgoMenu {
    div {
      margin-top: 165%;
    }
  }

/* en el tiempo */

.timeline {
  
  li {
   
    .timeline-panel {
      margin-top: 0;
      .timeline-heading {
        .timeline-title {
        
        }
      }
      .timeline-body {
        p, ul {
        
        }
        p + p {
         
        }
      }
    }
    .timeline-panel:before {

    }
    .timeline-panel:after {

    }
    .timeline-badge {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        margin-top: -3px;
    
      }
    }

  }
  li.timeline-inverted {
    .timeline-panel{
     
    }
    .timeline-panel:before {
     
    }
    .timeline-panel:after {
  
    }
  } 
  li:before,
  li:after {
   
  }
  li:after {
   
  }
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}










  
}

/* iPhone 6 screen size */
@media screen and (max-width: 375px) {
  #main-nav .navbar-default .container .navbar-collapse {
    width: 108.7%;
  }
  /*Proyectos Sociales*/
  .proyect-info-container {
    div {
      span {
        width: 38.7% !important;
      }
      span.two-line-title {
        padding: 10px !important;
      }
    }
  }
   /* Centro De Liderazgo */
  #centroDeLiderazgo {
    .proyectos-title {
      padding-left: 60px !important;
      margin-left: 4% !important;
    }
    .agendaQuincenal {
      ul {
        li {
          font-size: 12px;
          width: 19.1%;
        }
      }
    }
  }
}

/* iPhone 5 screen size */
@media screen and (max-width: 320px) {
  #main-nav .navbar-default .container .navbar-collapse {
    width: 110.2%;
  }
  /*Proyectos Sociales*/
  .proyect-info-container {
    div {
      width: 92% !important;
      span {
        width: 83.3% !important;
        padding: 10px !important;
      }
      span.two-line-title {
        padding: 0 !important;
      }
    }
  }
  .mobile-nav {
    button {
      width: 19% !important;
      padding: 1px !important;
      margin: 0 !important;
    }
  }

  .footer {
    .container {
      ul {
        float: right;
        padding-left: 0;
      }
    }
  }
   /* Centro De Liderazgo */
  #centroDeLiderazgo {
    .proyectos-title {
      margin-left: 0 !important;
      font-size: 31px !important;
    }
    .agendaQuincenal {
      h3 {
        font-size: 27px;
      }
      ul {
        li {
          font-size: 11px;
          width: 18.9%;
        }
      }
    }
  }
}

.mobile-nav {
  background-color: #e95853;
  color: #fff;
  // margin-bottom: 10px;
  margin: 0 0 10px 0;
  button {
    width: 18%;
    font-size: 10px;
    float: left;
    padding: 7px 0;
    // margin-right: 5px;
    margin: 0 3px 0 3px;
    border-radius: 0;
    i {
      width: 100%;
      font-size: 20px;
    }
    span {
      display: inline-block;
    }
    a {
      color: #fff;
    }
  }
  button.even {
    background-color: #0e76bd;
  }
  .navbar-collapse {
    // width: 108%;
    width: 100%;
    padding: 0;
    ul {
      margin: 0;
      li {
        width: 100%;
        border-bottom: 1px solid #fff;
        a {
          color: #fff;
          font-size: 10px;
        }
        a:hover {
          background-color: #e95853;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
  .even {
    background-color: #0e76bd;
  }
}

/*Proyectos Sociales*/
.proyectos-container {
  // padding: 45px 0;
  .proyectos-text {
    .proyect-info-container {
      div {
        width: 44%;
        span {
          width: 44%;
        }
        .lower-bar {
          background-color: #8ec63f;
          width: 100%;
          height: 27px;
          margin: 0;
        }
      }
    }
  }
}

.proyectos-title {
  background-image: url("../images/proyectos_logo.png");
  background-repeat: no-repeat;
  background-size: 16%;
  padding-left: 66px;
  height: 66px;
  color: #0168b3;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 0;
  font-size: 24px;
  letter-spacing: 3px;
  span {
    font-size: 36px;
    letter-spacing: 0;
  }
}

.proyectos-text {
  p {
    color: #6e6f73;
  }
}

.proyect-info-container {
  div {
    width: 21%;
    float: left;
    margin: 20px 13px;
    span {
      padding: 10px;
      width: 20.2%;
      text-align: center;
      background-color: rgba(218, 214, 214, 0.85);
      color: #6d6e72;
      z-index: 1;
      position: absolute;
      font-weight: 600;
      font-size: 15px;
    }
    span.two-line-title {
      padding: 0;
    }
    img {
      width: 100%;
      min-height: 160px;
    }
    a {
      background-color: #0168b3;
      padding: 5px;
      width: 100%;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
    }
  }
  div:nth-child(2),
  div:nth-child(7),
  div:nth-child(10) {
    a {
      background-color: #8ec63f; // green
    }
  }
  div:nth-child(3),
  div:nth-child(6),
  div:nth-child(11) {
    a {
      background-color: #f1592a; // orange
    }
  }
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(12) {
    a {
      background-color: #f7941d; // yellow
    }
  }  
} 
