<!-- <aside id="centroLiderazgoMenu">
  <div>  
    <ul id="">
      <li class="selected-opt"><a href="#"><span>Cursos gratuitos</span></a></li>
      <li><a href="#"><span>Agenda de actividades</span></a></li>
      <li><a href="#"><span>Concursos</span></a></li>
      <li><a href="#"><span>Líderes positivos</span></a></li>
    </ul>
  </div>
</aside> -->
<div id="centroDeLiderazgo" class="row proyectos-container">
  <div class="col-md-4 proyectos-text">
    <h2 class="proyectos-title">Centro de <span>Liderazgo</span></h2>
    <p>Tengo dedicación y pongo mi mejor empeño en aquello que he elegido realizar, soy cuidadoso, hago las cosas con interés y atención. Estoy activo haciendo cosas que me benefician y sobre todo, que benefician a otros. Termino en orden y de acuerdo con su importancia.</p>
  </div>
  <div class="col-md-8 agendaQuincenal">
    <h3>Agenda Quincenal</h3>
    <ul class="agendaHeading">
      <li>Fecha</li>
      <li>Actividad</li>
      <li>Hora</li>
      <li>Encargado</li>
      <li>Asistencia</li>
    </ul>
    <ul class="agendaTableContent">
      <li>grgr</li>
      <li>grgrg</li>
      <li>rgrg</li>
      <li>rg</li>
      <li>rg</li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li>dd</li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link" href="#/proyectos"><span>Proyectos Sociales</span></a></li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Centro de Liderazgo</span></a>
      <ul>
        <span></span>
        <li><a href="#/cursos">Cursos gratuitos</a></li>
        <li><a href="#">Concursos</a></li>
        <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
        <li><a href="#">Líderes Positivos</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Prensa</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Últimas noticias</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Informes</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Danos una mano</span></a>
      <ul>
        <span></span>
        <li><a href="#">Contribuciones</a></li>
        <li><a href="#">Voluntariado</a></li>
        <li><a href="#">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Servicios</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Bienes raíces</a></li>
        <li><a href="#">Talleres de liderazgo poisitivo</a></li>
        <li><a href="#">Presencia comunitaria</a></li>
        <li><a href="#">Asesorías</a></li>
        <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span>Proyectos Sociales</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span>Centro de <br>Liderazgo</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Prensa</span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span>Danos una <br>mano  </span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span>Servicios</span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/cursos">Cursos gratuitos</a></li>
      <li><a href="#">Concursos</a></li>
      <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
      <li><a href="#">Líderes Positivos</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a href="#">Últimas noticias</a></li>
      <li><a href="#">Testimonios</a></li>
      <li><a href="#">Informes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a href="#">Contribuciones</a></li>
      <li><a href="#">Voluntariado</a></li>
      <li><a href="#">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a href="#">Bienes raíces</a></li>
      <li><a href="#">Talleres de liderazgo poisitivo</a></li>
      <li><a href="#">Presencia comunitaria</a></li>
      <li><a href="#">Asesorías</a></li>
      <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
    </ul>
  </div>
</div>