<secondary-menu></secondary-menu>

<div id="centroDeLiderazgo" class="row proyectos-container">
  <div class="col-md-4 proyectos-text">
    <h2 class="proyectos-title">Centro de <span>Liderazgo</span></h2>
    <p>Tengo dedicación y pongo mi mejor empeño en aquello que he elegido realizar, soy cuidadoso, hago las cosas con interés y atención. Estoy activo haciendo cosas que me benefician y sobre todo, que benefician a otros. Termino en orden y de acuerdo con su importancia.</p>
  </div>
  <div class="col-md-8 agendaQuincenal">
    <h3>Agenda Quincenal</h3>
    <ul class="agendaHeading">
      <li>Fecha</li>
      <li>Actividad</li>
      <li>Hora</li>
      <li>Encargado</li>
      <li>Asistencia</li>
    </ul>
    <ul class="agendaTableContent">
      <li>grgr</li>
      <li>grgrg</li>
      <li>rgrg</li>
      <li>rg</li>
      <li>rg</li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li>dd</li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="agendaTableContent">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
