<secondary-menu></secondary-menu>
<div class="gallery-thumb">
        <!-- Slider -->
        <div class="row">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="col-sm-8" id="carousel-bounding-box">
                        <div class="carousel slide site-gallery">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                <img src="images/Carrera-Libertad/DSC_0019.JPG"></div>

                                <div class="item" data-slide-number="1">
                                <img src="images/Carrera-Libertad/DSC_0022.JPG"></div>

                                <div class="item" data-slide-number="2">
                                <img src="images/Carrera-Libertad/DSC_0027.JPG"></div>

                                <div class="item" data-slide-number="3">
                                <img src="images/Carrera-Libertad/DSC_0032.JPG"></div>

                                <div class="item" data-slide-number="4">
                                <img src="images/Carrera-Libertad/DSC_0040.JPG"></div>

                                <div class="item" data-slide-number="5">
                                <img src="images/Carrera-Libertad/DSC_0088.JPG"></div>

                                <div class="item" data-slide-number="6">
                                <img src="images/Carrera-Libertad/DSC_0094.JPG"></div>

                                <div class="item" data-slide-number="7">
                                <img src="images/Carrera-Libertad/DSC_0124.JPG"></div>

                                <div class="item" data-slide-number="8">
                                <img src="images/Carrera-Libertad/DSC_0146.JPG"></div>

                                <div class="item" data-slide-number="9">
                                <img src="images/Carrera-Libertad/DSC_0154.JPG"></div>

                                <div class="item" data-slide-number="10">
                                <img src="images/Carrera-Libertad/DSC_0156.JPG"></div>

                                <div class="item" data-slide-number="11">
                                <img src="images/Carrera-Libertad/DSC_0168.JPG"></div>

                                <div class="item" data-slide-number="12">
                                <img src="images/Carrera-Libertad/DSC_0171.jpg"></div>

                                <div class="item" data-slide-number="13">
                                <img src="images/Carrera-Libertad/DSC_0176.jpg"></div>

                                <div class="item" data-slide-number="14">
                                <img src="images/Carrera-Libertad/DSC_0177.jpg"></div>

                                <div class="item" data-slide-number="15">
                                <img src="images/Carrera-Libertad/DSC_0180.jpg"></div>

                                <div class="item" data-slide-number="16">
                                <img src="images/Carrera-Libertad/DSC_0184.jpg"></div>

                                <div class="item" data-slide-number="17">
                                <img src="images/Carrera-Libertad/DSC_0194.jpg"></div>

                                <div class="item" data-slide-number="18">
                                <img src="images/Carrera-Libertad/DSC_0196.jpg"></div>

                                <div class="item" data-slide-number="19">
                                <img src="images/Carrera-Libertad/DSC_0198.jpg"></div>

                                <div class="item" data-slide-number="20">
                                <img src="images/Carrera-Libertad/DSC_0203.jpg"></div>

                                <div class="item" data-slide-number="21">
                                <img src="images/Carrera-Libertad/DSC_0212.jpg"></div>

                                <div class="item" data-slide-number="22">
                                <img src="images/Carrera-Libertad/DSC_0215.jpg"></div>

                                <div class="item" data-slide-number="23">
                                <img src="images/Carrera-Libertad/DSC_0218.jpg"></div>

                                <div class="item" data-slide-number="24">
                                <img src="images/Carrera-Libertad/DSC_0243.jpg"></div>

                                <div class="item" data-slide-number="25">
                                <img src="images/Carrera-Libertad/DSC_0252.jpg"></div>

                                <div class="item" data-slide-number="26">
                                <img src="images/Carrera-Libertad/DSC_0264.jpg"></div>

                                <div class="item" data-slide-number="27">
                                <img src="images/Carrera-Libertad/DSC_0269.jpg"></div>

                                <div class="item" data-slide-number="28">
                                <img src="images/Carrera-Libertad/DSC_0273.jpg"></div>

                                <div class="item" data-slide-number="29">
                                <img src="images/Carrera-Libertad/DSC_0289.jpg"></div>

                                <div class="item" data-slide-number="30">
                                <img src="images/Carrera-Libertad/DSC_0296.jpg"></div>

                                <div class="item" data-slide-number="31">
                                <img src="images/Carrera-Libertad/DSC_0331.jpg"></div>

                                <div class="item" data-slide-number="32">
                                <img src="images/Carrera-Libertad/DSC_0334.jpg"></div>

                                <div class="item" data-slide-number="33">
                                <img src="images/Carrera-Libertad/DSC_8700.jpg"></div>

                                <div class="item" data-slide-number="34">
                                <img src="images/Carrera-Libertad/DSC_8704.jpg"></div>

                                <div class="item" data-slide-number="35">
                                <img src="images/Carrera-Libertad/DSC_8707.jpg"></div>

                                <div class="item" data-slide-number="36">
                                <img src="images/Carrera-Libertad/DSC_8712.jpg"></div>

                                <div class="item" data-slide-number="37">
                                <img src="images/Carrera-Libertad/DSC_8719.jpg"></div>

                                <div class="item" data-slide-number="38">
                                <img src="images/Carrera-Libertad/DSC_8721.jpg"></div>

                                <div class="item" data-slide-number="39">
                                <img src="images/Carrera-Libertad/DSC_8723.jpg"></div>

                                <div class="item" data-slide-number="40">
                                <img src="images/Carrera-Libertad/DSC_8725.jpg"></div>

                                <div class="item" data-slide-number="41">
                                <img src="images/Carrera-Libertad/DSC_8732.jpg"></div>

                                <div class="item" data-slide-number="42">
                                <img src="images/Carrera-Libertad/DSC_8778.jpg"></div>

                                <div class="item" data-slide-number="43">
                                <img src="images/Carrera-Libertad/DSC_8781.jpg"></div>

                                <div class="item" data-slide-number="44">
                                <img src="images/Carrera-Libertad/DSC_8784.jpg"></div>

                                <div class="item" data-slide-number="45">
                                <img src="images/Carrera-Libertad/DSC_8793.jpg"></div>

                                <div class="item" data-slide-number="46">
                                <img src="images/Carrera-Libertad/DSC_8805.jpg"></div>

                                <div class="item" data-slide-number="47">
                                <img src="images/Carrera-Libertad/DSC_8819.jpg"></div>

                                <div class="item" data-slide-number="48">
                                <img src="images/Carrera-Libertad/DSC_8830.jpg"></div>

                                <div class="item" data-slide-number="49">
                                <img src="images/Carrera-Libertad/DSC_8834.jpg"></div>

                                <div class="item" data-slide-number="50">
                                <img src="images/Carrera-Libertad/DSC_8842.jpg"></div>

                                <div class="item" data-slide-number="51">
                                <img src="images/Carrera-Libertad/DSC_8855.jpg"></div>

                                <div class="item" data-slide-number="52">
                                <img src="images/Carrera-Libertad/DSC_8858.jpg"></div>

                                <div class="item" data-slide-number="53">
                                <img src="images/Carrera-Libertad/DSC_8860.jpg"></div>

                                <div class="item" data-slide-number="54">
                                <img src="images/Carrera-Libertad/DSC_8862.jpg"></div>

                                <div class="item" data-slide-number="55">
                                <img src="images/Carrera-Libertad/DSC_8868.jpg"></div>

                                <div class="item" data-slide-number="56">
                                <img src="images/Carrera-Libertad/DSC_8897.jpg"></div>

                                <div class="item" data-slide-number="57">
                                <img src="images/Carrera-Libertad/DSC_8921.jpg"></div>

                                <div class="item" data-slide-number="58">
                                <img src="images/Carrera-Libertad/DSC_9065.jpg"></div>

                                <div class="item" data-slide-number="59">
                                <img src="images/Carrera-Libertad/DSC_9071.jpg"></div>

                                <div class="item" data-slide-number="60">
                                <img src="images/Carrera-Libertad/DSC_9081.jpg"></div>

                                <div class="item" data-slide-number="61">
                                <img src="images/Carrera-Libertad/DSC_9096.jpg"></div>

                                <div class="item" data-slide-number="62">
                                <img src="images/Carrera-Libertad/DSC_9102.jpg"></div>

                                <div class="item" data-slide-number="63">
                                <img src="images/Carrera-Libertad/DSC_9105.jpg"></div>

                                <div class="item" data-slide-number="64">
                                <img src="images/Carrera-Libertad/DSC_9111.jpg"></div>

                                <div class="item" data-slide-number="65">
                                <img src="images/Carrera-Libertad/DSC_9128.jpg"></div>

                                <div class="item" data-slide-number="66">
                                <img src="images/Carrera-Libertad/DSC_9132.jpg"></div>

                                <div class="item" data-slide-number="67">
                                <img src="images/Carrera-Libertad/DSC_9137.jpg"></div>

                            </div><!-- Carousel nav -->
                            <a class="left carousel-control" href=".site-gallery" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>                                       
                            </a>
                            <a class="right carousel-control" href=".site-gallery" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>                                       
                            </a>                                
                            </div>
                    </div>
                </div>
            </div>
        </div><!--/Slider-->

        <div class="row hidden-xs" id="slider-thumbs">
                <ul class="hide-bullets">
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-0"><img src="images/Carrera-Libertad/DSC_0019.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-1"><img src="images/Carrera-Libertad/DSC_0022.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-2"><img src="images/Carrera-Libertad/DSC_0027.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-3"><img src="images/Carrera-Libertad/DSC_0032.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-4"><img src="images/Carrera-Libertad/DSC_0040.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-5"><img src="images/Carrera-Libertad/DSC_0088.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-6"><img src="images/Carrera-Libertad/DSC_0094.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-7"><img src="images/Carrera-Libertad/DSC_0124.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-8"><img src="images/Carrera-Libertad/DSC_0146.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-9"><img src="images/Carrera-Libertad/DSC_0154.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-10"><img src="images/Carrera-Libertad/DSC_0156.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-11"><img src="images/Carrera-Libertad/DSC_0168.JPG"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-12"><img src="images/Carrera-Libertad/DSC_0171.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-13"><img src="images/Carrera-Libertad/DSC_0176.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-14"><img src="images/Carrera-Libertad/DSC_0177.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-15"><img src="images/Carrera-Libertad/DSC_0180.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-16"><img src="images/Carrera-Libertad/DSC_0184.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-17"><img src="images/Carrera-Libertad/DSC_0194.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-18"><img src="images/Carrera-Libertad/DSC_0196.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-19"><img src="images/Carrera-Libertad/DSC_0198.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-20"><img src="images/Carrera-Libertad/DSC_0203.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-21"><img src="images/Carrera-Libertad/DSC_0212.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-22"><img src="images/Carrera-Libertad/DSC_0215.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-23"><img src="images/Carrera-Libertad/DSC_0218.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-24"><img src="images/Carrera-Libertad/DSC_0243.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-25"><img src="images/Carrera-Libertad/DSC_0252.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-26"><img src="images/Carrera-Libertad/DSC_0264.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-27"><img src="images/Carrera-Libertad/DSC_0269.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-28"><img src="images/Carrera-Libertad/DSC_0273.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-29"><img src="images/Carrera-Libertad/DSC_0289.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-30"><img src="images/Carrera-Libertad/DSC_0296.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-31"><img src="images/Carrera-Libertad/DSC_0331.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-32"><img src="images/Carrera-Libertad/DSC_0334.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-33"><img src="images/Carrera-Libertad/DSC_8700.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-34"><img src="images/Carrera-Libertad/DSC_8704.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-35"><img src="images/Carrera-Libertad/DSC_8707.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-36"><img src="images/Carrera-Libertad/DSC_8712.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-37"><img src="images/Carrera-Libertad/DSC_8719.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-38"><img src="images/Carrera-Libertad/DSC_8721.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-39"><img src="images/Carrera-Libertad/DSC_8723.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-40"><img src="images/Carrera-Libertad/DSC_8725.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-41"><img src="images/Carrera-Libertad/DSC_8732.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-42"><img src="images/Carrera-Libertad/DSC_8778.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-43"><img src="images/Carrera-Libertad/DSC_8781.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-44"><img src="images/Carrera-Libertad/DSC_8784.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-45"><img src="images/Carrera-Libertad/DSC_8793.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-46"><img src="images/Carrera-Libertad/DSC_8805.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-47"><img src="images/Carrera-Libertad/DSC_8819.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-48"><img src="images/Carrera-Libertad/DSC_8830.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-49"><img src="images/Carrera-Libertad/DSC_8834.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-50"><img src="images/Carrera-Libertad/DSC_8842.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-51"><img src="images/Carrera-Libertad/DSC_8855.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-52"><img src="images/Carrera-Libertad/DSC_8858.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-53"><img src="images/Carrera-Libertad/DSC_8860.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-54"><img src="images/Carrera-Libertad/DSC_8862.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-55"><img src="images/Carrera-Libertad/DSC_8868.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-56"><img src="images/Carrera-Libertad/DSC_8897.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-57"><img src="images/Carrera-Libertad/DSC_8921.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-58"><img src="images/Carrera-Libertad/DSC_9065.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-59"><img src="images/Carrera-Libertad/DSC_9071.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-60"><img src="images/Carrera-Libertad/DSC_9081.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-61"><img src="images/Carrera-Libertad/DSC_9096.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-62"><img src="images/Carrera-Libertad/DSC_9102.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-63"><img src="images/Carrera-Libertad/DSC_9105.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-64"><img src="images/Carrera-Libertad/DSC_9111.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-65"><img src="images/Carrera-Libertad/DSC_9128.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-66"><img src="images/Carrera-Libertad/DSC_9132.jpg"></a>
                    </li>
                     <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-67"><img src="images/Carrera-Libertad/DSC_9137.jpg"></a>
                    </li>   
                </ul>                 
        </div>
</div>
<script>
	jQuery(document).ready(function($) {
 
	        $('.site-gallery').carousel({
	                interval: 5000
	        });
	 
	        $('#carousel-text').html($('#slide-content-0').html());
	 
	        //Handles the carousel thumbnails
	       $('[id^=carousel-selector-]').click( function(){
	            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
	            var id = parseInt(id);
	            $('.site-gallery').carousel(id);
	        });
	 
	 
	        // When the carousel slides, auto update the text
	        $('.site-gallery').on('slid.bs.carousel', function (e) {
	                 var id = $('.item.active').data('slide-number');
	                $('#carousel-text').html($('#slide-content-'+id).html());
	        });
	});
</script>