<secondary-menu></secondary-menu>
<div class="carrera-la-libertad">
    <div class="carrera-la-libertad-banner">
        <img src="images//Carrera-Libertad/carrera-libertad.jpg" alt="Carrera La Libertad">
        <div class="carrera-la-libertad-banner-text">
            <img src="images/Carrera-Libertad/carrera-libertad-logo.png" alt="Carrera La Libertad">
            <h2>CARRERA LA LIBERTAD</h2>
            <p>Fundación Ciudadelas de Libertad organiza año con año está actividad deportiva pues como ente líder del cantón es muy importante para nosotros crear un espacio inclusivo que promueva hábitos y experiencias positivas en Desamparados.<br><br>
            Los fondos que eventualmente se recauden de las inscripciones son destinados para apoyos complementarios a los estudiantes del Programa de Liderazgo Juvenil.</p>
        </div>
    </div>
    <div class="carrera-la-libertad-banner-text-mobile">
        <img src="images/Carrera-Libertad/carrera-libertad-logo.png" alt="Carrera La Libertad">
        <h2>CARRERA LA LIBERTAD</h2>
        <p>Fundación Ciudadelas de Libertad organiza año con año está actividad deportiva pues como ente líder del  cantón es muy importante para nosotros crear un espacio inclusivo que promueva hábitos y experiencias positivas en Desamparados.<br><br>
        Los fondos que eventualmente se recauden de las inscripciones son destinados para apoyos complementarios a los estudiantes del Programa de Liderazgo Juvenil.</p>
    </div>
</div>
<div class="row carrera-first-row">
    <div class="col-xs-6 inscrib-form">
        <div class="carrera">
            <form>
                <h1>INSCRIBASE AQUÍ</h1>
                <div class="form-group">
                    <label for="carrera-name">NOMBRE COMPLETO</label>
                    <input type="text" class="form-control" id="carrera-name" required>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label for="carrera-id">IDENTIFICACIÓN</label>
                        <input type="text" class="form-control" id="carrera-id" required>
                    </div>
                    <div class="col-xs-6">
                        <label for="carrera-dist">DISTANCIA</label>

                        <select class="form-control" id="carrera-dist" required>
                            <option>5k</option>
                            <option>10.5k</option>
                            <option>21k</option>
                        </select>      
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="carrera-nac">FECHA DE NACIMIENTO</label>
                        <input type="date" class="form-control" id="carrera-nac" required>
                    </div>
                    <div class="col-md-4">
                        <label for="carrera-edad">EDAD</label>
                        <input type="number" class="form-control" id="carrera-edad" required>
                    </div>
                    <div class="col-md-4">
                        <label for="carrera-sex">SEXO</label>
                        <select class="form-control" id="carrera-sex" required>
                            <option>M</option>
                            <option>F</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label for="carrera-tel">NÚMERO DE TRANSFERENCIA</label>
                        <input type="text" class="form-control" id="carrera-tel" required>
                    </div>
                    <div class="col-xs-6">
                        <label for="carrera-sex">BANCO</label>
                        <select class="form-control" id="carrera-sex" required>
                            <option>BN</option>
                            <option>BAC</option>
                            <option>BCR</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label for="carrera-tel">TELÉFONO/ CELULAR</label>
                        <input type="text" class="form-control" id="carrera-tel" required>
                    </div>
                    <div class="col-xs-6">
                        <label for="carrera-mail">CORREO ELECTRÓNICO</label>
                        <input type="email" class="form-control" id="carrera-mail" required>
                    </div>
                </div>

                <!-- <div class="row form-group">
                    <div class="col-xs-6">
                        <label for="DUM-profession">DISTANCIA</label>
                        <input type="date" class="form-control" id="DUM-profession" required>
                    </div>
                    <div class="col-xs-6">
                        <label for="DUM-profession">ADJUNTE ARCHIVO DE TRANSFERENCIA BANCARIA</label>
                        <input type="file">
                    </div>
                </div> -->
                <input type="checkbox" name="" value=""> * ACEPTO EL REGLAMENTO  Y LA LIBERACIÓN DE RESPONSABILIDAD DE CARRERA LA LIBERTAD 
                <br>
                <!-- <small id="emailHelp" class="form-text text-muted">PREVENTA (7.000 CRC-12.000 CRC-16.000 CRC)</small> -->
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="row col-xs-6 carrera-info" >
            <p>Realiza el depósito a la cuenta del Banco Nacional 100-01-047-001941-0 / Cuenta cliente
            15104710010023126.
            Al enviar la información, le llegará a su dirección electrónica un correo de confirmación de la 
            inscripción realizada.</p>
        </div>
        <div class="row col-xs-6 carrera-info-2">
            <p>Información del evento</p>
            <p>Fecha: 29 de Octubre 2017</p>
            <p>Hora: 21K 6:00 a.m.  / 10,5K 7:00 a.m.  /  5K 7:30 a.m.</p>
            <p>Salida y meta: Mall Multicentro, Desamparados.</p>
            <p>Paquete incluye: Camiseta marca Brooks, medalla calidad internacional, hidratación en recorrido </p>
            y meta, frutas en meta, derecho a premiación, aval de Fecoa, póliza del INS, número, chip.</p>
            <p>Valor de la inscripción:  </p>
            <p>PREVENTA:  ¢16.000 21k / ¢12.000 10,5k / ¢7.000 5k </p>
            <p>REGULAR: ¢18.000 21k / ¢14.000 10,5k / ¢8.000 5k  </p>
        </div>
    </div>
</div>

<div class="row galeria">
    
    <div class="row">
        <ul class="list-inline text-center">
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="0" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0019.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="1" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0022.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="2" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0027.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="3" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0032.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="4" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0040.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="5" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0088.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="6" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0094.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="7" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0124.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="8" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0146.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="9" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0154.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="10" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0156.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="11" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0168.JPG"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="12" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0171.jpg"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="13" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0176.jpg"></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="14" href=".myGallery"><img class="img-thumbnail" src="images/Carrera-Libertad/DSC_0177.jpg"></a></li>




            <!-- <li data-target=".myModal" data-toggle="modal"><a data-slide-to="15" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="16" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="17" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="18" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="19" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="20" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="21" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="22" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="23" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="24" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="25" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="26" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="27" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="28" href=".myGallery"><img class="img-thumbnail" src=""></a></li>
            <li data-target=".myModal" data-toggle="modal"><a data-slide-to="29" href=".myGallery"><img class="img-thumbnail" src=""></a></li> -->
        </ul>
        
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal myModal fade" id="" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" title="Close" type="button"><span class="glyphicon glyphicon-remove"></span></button></div>
                        <div class="modal-body">
                            <div class="carousel  myGallery slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active"><img alt="item1" src="images/Carrera-Libertad/DSC_0019.JPG">
                                    </div>
                                    <div class="item"><img alt="item2" src="images/Carrera-Libertad/DSC_0022.JPG">
                                    </div>
                                    <div class="item"><img alt="item3" src="images/Carrera-Libertad/DSC_0027.JPG">
                                    </div>
                                    <div class="item"><img alt="item4" src="images/Carrera-Libertad/DSC_0032.JPG">
                                    </div>
                                    <div class="item"><img alt="item5" src="images/Carrera-Libertad/DSC_0040.JPG">
                                    </div>
                                    <div class="item"><img alt="item6" src="images/Carrera-Libertad/DSC_0088.JPG">
                                    </div>
                                    <div class="item"><img alt="item7" src="images/Carrera-Libertad/DSC_0094.JPG">
                                    </div>
                                    <div class="item"><img alt="item8" src="images/Carrera-Libertad/DSC_0124.JPG">
                                    </div>
                                    <div class="item"><img alt="item9" src="images/Carrera-Libertad/DSC_0146.JPG">
                                    </div>
                                    <div class="item"><img alt="item10" src="images/Carrera-Libertad/DSC_0154.JPG">
                                    </div>
                                    <div class="item"><img alt="item11" src="images/Carrera-Libertad/DSC_0156.JPG">
                                    </div>
                                    <div class="item"><img alt="item12" src="images/Carrera-Libertad/DSC_0168.JPG">
                                    </div>
                                    <div class="item"><img alt="item13" src="images/Carrera-Libertad/DSC_0171.jpg">
                                    </div>
                                    <div class="item"><img alt="item14" src="images/Carrera-Libertad/DSC_0176.jpg">
                                    </div>
                                    <div class="item"><img alt="item15" src="images/Carrera-Libertad/DSC_0177.jpg">
                                    </div>



                                    <!-- <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div>
                                    <div class="item"><img alt="item6" src="">
                                    </div> -->
                                 </div>
                                 <a class="left carousel-control" data-slide="prev" href=".myGallery" role="button"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" data-slide="next" href=".myGallery" role="button"><span class="glyphicon glyphicon-chevron-right"></span></a> 
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-sm close" data-dismiss="modal" type="button">Close</button></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .galeria {
        padding-top: 40px;
    }
    .list-inline > li {
        width: 20%;
        float: left;
        margin-bottom: 10px;
    }
    .modal-dialog .modal-body img {
        width: 100%;
    }
</style>