<secondary-menu></secondary-menu>
<div class="danos-una-mano">
	<div class="danos-una-mano-banner">
		<img src="images/danos-una-mano.jpg" alt="Danos una mano">
		<div class="danos-una-mano-banner-text">
			<img src="images/danos-una-mano-logo.png" alt="Manos">
			<h2>DANOS UNA MANO</h2>
			<p>Si quiere sumarse usted o su empresa a la red de jóvenes líderes mediante voluntarado o TCU; así como también hacer crecer nuestro Programa de Liderazgo Juvenil, llene este formulario para poder contactarnos con usted a las mator brevedad posible.</p>
		</div>
	</div>
	<div class="danos-una-mano-banner-text-mobile">
		<img src="images/danos-una-mano-logo.png" alt="Manos">
		<h2>DANOS UNA MANO</h2>
		<p>Si quiere sumarse usted o su empresa a la red de jóvenes líderes mediante voluntarado o TCU; así como también hacer crecer nuestro Programa de Liderazgo Juvenil, llene este formulario para poder contactarnos con usted a las mator brevedad posible.</p>
	</div>
	<form>
		<div class="form-group">
	    	<label for="DUM-name">NOMBRE COMPLETO</label>
	    	<input type="text" class="form-control" id="DUM-name" required>
	  	</div>
		<div class="form-group">
	    	<label for="DUM-company">EMPRESA O INSTITUCIÓN</label>
	    	<input type="text" class="form-control" id="DUM-company" required>
	  	</div>
		<div class="form-group">
			<label for="DUM-colab">TIPO DE COLABORACIÓN</label>
			<select class="form-control" id="DUM-colab" required>
				<option>VOLUNTARIADO</option>
				<option>TCU</option>
				<option>PRÁCTICA PROFESIONAL</option>
				<option>DONACIONES EN DINERO</option>
				<option>DONACIONES EN ESPECIE</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="DUM-profession">ÁREA PROFESIONAL A LA QUE SE DEDICA</label>
	    	<input type="text" class="form-control" id="DUM-profession" required>
	  	</div>
	  	<div class="form-group">
	    	<label for="DUM-phone">TELÉFONO</label>
	    	<input type="text" class="form-control" id="DUM-phone" placeholder="8888-88-88" required>
	  	</div>
		<div class="form-group">
			<label for="DUM-email">CORREO</label>
			<input type="email" class="form-control" id="DUM-email" aria-describedby="emailHelp" placeholder="ejemplo@email.com" required>
			<small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo con nadie más.</small>
			<!-- We'll never share your email with anyone else. -->
		</div>
	  	<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>