<secondary-menu></secondary-menu>
<div class="danos-una-mano">
	<div class="danos-una-mano-banner">
		<img src="images/danos-una-mano.jpg" alt="Danos una mano">
		<div class="danos-una-mano-banner-text">
			<img src="images/danos-una-mano-logo.png" alt="Manos">
			<h2 translate="GIVE_US_A_HAND"></h2>
			<p translate="GIVE_US_A_HAND_DESCRIPTION"></p>
		</div>
	</div>
	<div class="danos-una-mano-banner-text-mobile">
		<img src="images/danos-una-mano-logo.png" alt="Manos">
		<h2 translate="GIVE_US_A_HAND"></h2>
		<p translate="GIVE_US_A_HAND_DESCRIPTION"></p>
	</div>
	<form>
		<div class="form-group">
	    	<label for="DUM-name" translate="GIVE_US_A_HAND_NAME"></label>
	    	<input type="text" class="form-control" id="DUM-name" required>
	  	</div>
		<div class="form-group">
	    	<label for="DUM-company" translate="GIVE_US_A_HAND_COMPANY"></label>
	    	<input type="text" class="form-control" id="DUM-company" required>
	  	</div>
		<div class="form-group">
			<label for="DUM-colab" translate="GIVE_US_A_HAND_TYPE_OF_COLABORATION"></label>
			<select class="form-control" id="DUM-colab" required>
				<option translate="GIVE_US_A_HAND_VOLUNTEERING"></option>
				<option>TCU</option>
				<option translate="GIVE_US_A_HAND_INTERNSHIP"></option>
				<option translate="GIVE_US_A_HAND_MONEY_DONATIONS"></option>
				<option translate="GIVE_US_A_HAND_SPECIES_DONATIONS"></option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="DUM-profession" translate="GIVE_US_A_HAND_AREA_OF_WORK"></label>
	    	<input type="text" class="form-control" id="DUM-profession" required>
	  	</div>
	  	<div class="form-group">
	    	<label for="DUM-phone" translate="GIVE_US_A_HAND_PHONE"></label>
	    	<input type="text" class="form-control" id="DUM-phone" placeholder="8888-8888" required>
	  	</div>
		<div class="form-group">
			<label for="DUM-email" translate="GIVE_US_A_HAND_EMAIL"></label>
			<input type="email" class="form-control" id="DUM-email" aria-describedby="emailHelp" placeholder="ejemplo@email.com" required>
			<small id="emailHelp" class="form-text text-muted" translate="GIVE_US_A_HAND_DISCLOUSURE"></small>
		</div>
	  	<button type="submit" class="btn btn-primary" translate="GIVE_US_A_HAND_SUBMIT"></button>
	</form>
</div>
