<secondary-menu></secondary-menu>

<div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <img src="images/nos-fundamos.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate="WE_WERE_FOUNDED"></h4>
            </div>
            <div class="timeline-body">
              <p translate="WE_WERE_FOUNDED_DESCRIPTION"></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">
            <img src="images/nos-fundamos.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate="BEGGINING_OF_OPERATIONS"></h4>
            </div>
            <div class="timeline-body">
              <p translate="BEGGINING_OF_OPERATIONS_DESCRIPTION"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">
             <img src="images/ampliando-patrimonio.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate="EXPANDING_THE_HERITAGE"></h4>
            </div>
            <div class="timeline-body">
              <p translate="EXPANDING_THE_HERITAGE_DESCRIPTION"></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
             <img src="images/decisiones.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate="IMPORTANT_DECISIONS"></h4>
            </div>
            <div class="timeline-body">
              <p translate="IMPORTANT_DECISIONS_DESCRIPTION"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success">
            <img src="images/actualmente.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate="NOWADAYS"></h4>
            </div>
            <div class="timeline-body">
              <p translate="NOWADAYS_DESCRIPTION"></p>
            </div>
          </div>
        </li>
    </ul>
</div>
