<div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <!-- <i class="glyphicon glyphicon-check"></i> -->
            <img src="images/nos-fundamos.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">NOS FUNDAMOS</h4>
              <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
            </div>
            <div class="timeline-body">
              <p>el 7 de abril de 1974 cuando Don Samuel, a sus 50 años le donó la totalidad de sus bienes y empresas a la Fundación.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">
            <img src="images/nos-fundamos.png" alt="">
            <!-- <i class="glyphicon glyphicon-credit-card"></i> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">INICIO DE OPERACIONES</h4>
            </div>
            <div class="timeline-body">
              <p>Iniciamos en ese mismo año gracias al patrimonio de Don Samuel, que en ese entonces lo constituían Radio Libertad S.R.L., sus instalaciones, frecuencias, equipos y terrenos. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">
            <!-- <i class="glyphicon glyphicon-credit-card"></i> -->
             <img src="images/ampliando-patrimonio.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">AMPLIANDO EL PATRIMONIO</h4>
            </div>
            <div class="timeline-body">
              <p>Fue así como la FUNDACIÓN además de la frecuencia de Radio Libertad (570 AM)  adquiere a finales de los años 80s y principios de los 90s 3 nuevas frecuencias radiofónicas y  desarrollan las emisoras RADIO FUNDACIÓN (91.5 FM) 103 LA RADIO JOVEN (103.1 FM) y 89 YA (89.1 FM).</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <!-- <i class="glyphicon glyphicon-floppy-disk"></i> -->
             <img src="images/decisiones.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">DECISIONES IMPORTANTES</h4>
            </div>
            <div class="timeline-body">
              <p>Con el fin de centrarse en su misión principal y evitar acciones que se alejen del ideal de don Samuel, la Fundación decide en el año 2004 alquilar las emisoras de radio y ampliar sus objetivos y programas en el área social. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success">
            <!-- <i class="glyphicon glyphicon-thumbs-up"></i> -->
            <img src="images/actualmente.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ACTUALMENTE</h4>
            </div>
            <div class="timeline-body">
              <p>Los ingresos que se obtienen a través de el alquiler de las emisoras, junto con los ingresos de alquileres de otros locales comerciales, constituyen la principal fuente de ingresos del Programa de Liderazgo Juvenil de la Fundación. El cual, apoyando la educación a logrado insertar profesionalmente a miles de jóvenes del cantón de Desamparados, contribuyendo de esta manera al progreso del país.</p>
            </div>
          </div>
        </li>
    </ul>
</div>

<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link" href="#/proyectos"><span>Proyectos Sociales</span></a></li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Centro de Liderazgo</span></a>
      <ul>
        <span></span>
        <li><a href="#/cursos">Cursos gratuitos</a></li>
        <li><a href="#/concursos">Concursos</a></li>
        <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
        <li><a href="#">Líderes Positivos</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Prensa</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Últimas noticias</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Informes</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Danos una mano</span></a>
      <ul>
        <span></span>
        <li><a href="#">Contribuciones</a></li>
        <li><a href="#">Voluntariado</a></li>
        <li><a href="#">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Servicios</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Bienes raíces</a></li>
        <li><a href="#">Talleres de liderazgo poisitivo</a></li>
        <li><a href="#">Presencia comunitaria</a></li>
        <li><a href="#">Asesorías</a></li>
        <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span>Proyectos Sociales</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span>Centro de <br>Liderazgo</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Prensa</span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span>Danos una <br>mano  </span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span>Servicios</span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/cursos">Cursos gratuitos</a></li>
      <li><a href="#/concursos">Concursos</a></li>
      <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
      <li><a href="#">Líderes Positivos</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a href="#">Últimas noticias</a></li>
      <li><a href="#">Testimonios</a></li>
      <li><a href="#">Informes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a href="#">Contribuciones</a></li>
      <li><a href="#">Voluntariado</a></li>
      <li><a href="#">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a href="#">Bienes raíces</a></li>
      <li><a href="#">Talleres de liderazgo poisitivo</a></li>
      <li><a href="#">Presencia comunitaria</a></li>
      <li><a href="#">Asesorías</a></li>
      <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
    </ul>
  </div>
</div>