<secondary-menu></secondary-menu>
<div class="festival-juventudes">
	<div class="festival-juventudes-banner">
		<img src="images/festival-juventudes/DSC_0144.jpg" alt="Festival Juventudes">
		<div class="festival-juventudes-banner-text">
			<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
			<h2>FESTIVAL DE LAS JUVENTUDES</h2>
			<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
			<br>
			El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
			</p>
		</div>
	</div>
	<div class="festival-juventudes-banner-text-mobile">
		<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
		<h2>FESTIVAL DE LAS JUVENTUDES</h2>
		<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
		<br>
		El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
		</p>
	</div>
	<div class="row">
		<div class="juventudes-video center-block">
			<iframe width="100%" height="328" frameborder="0" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCanalAltaVision%2Fvideos%2F628584573973775%2F&show_text=1&width=560"></iframe>
		</div>
	</div>
	<div class='col-md-8 festival-carousel'>
	  <div class="carousel slide media-carousel media">
	    <div class="carousel-inner">
	      <div class="item  active">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/1.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/2.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/3.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/4.jpg"></a>
	          </div>
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/5.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/6.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/7.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/8.jpg"></a>
	          </div>        
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/9.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/10.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/11.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/12.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/13.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/14.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/15.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/16.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	      	<div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/17.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/18.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/19.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/20.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	      	<div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/21.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/DSC_0144.jpg"></a>
	          </div>    
	        </div>
	      </div>
	    </div>
	    <a data-slide="prev" href=".media" class="left carousel-control">‹</a>
	    <a data-slide="next" href=".media" class="right carousel-control">›</a>
	  </div>                          
	</div>
  
	<div class="modal fade imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <img src="" class="imagepreview" style="width: 100%;" >
	      </div>
	    </div>
	  </div>
	</div>

	<div class="gallery-thumb">
        <!-- Slider -->
        <div class="row">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="col-sm-8" id="carousel-bounding-box">
                        <div class="carousel slide site-gallery">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                <img src="images/festival-juventudes/slider/1.jpg"></div>

                                <div class="item" data-slide-number="1">
                                <img src="images/festival-juventudes/slider/2.jpg"></div>

                                <div class="item" data-slide-number="2">
                                <img src="images/festival-juventudes/slider/3.jpg"></div>

                                <div class="item" data-slide-number="3">
                                <img src="images/festival-juventudes/slider/4.jpg"></div>

                                <div class="item" data-slide-number="4">
                                <img src="images/festival-juventudes/slider/5.jpg"></div>

                                <div class="item" data-slide-number="5">
                                <img src="images/festival-juventudes/slider/6.jpg"></div>

                                <div class="item" data-slide-number="6">
                                <img src="images/festival-juventudes/slider/7.jpg"></div>

                                <div class="item" data-slide-number="7">
                                <img src="images/festival-juventudes/slider/8.jpg"></div>

                                <div class="item" data-slide-number="8">
                                <img src="images/festival-juventudes/slider/9.jpg"></div>

                                <div class="item" data-slide-number="9">
                                <img src="images/festival-juventudes/slider/10.jpg"></div>

                                <div class="item" data-slide-number="10">
                                <img src="images/festival-juventudes/slider/11.jpg"></div>

                                <div class="item" data-slide-number="11">
                                <img src="images/festival-juventudes/slider/12.jpg"></div>

                                <div class="item" data-slide-number="12">
                                <img src="images/festival-juventudes/slider/13.jpg"></div>

                                <div class="item" data-slide-number="13">
                                <img src="images/festival-juventudes/slider/14.jpg"></div>

                                <div class="item" data-slide-number="14">
                                <img src="images/festival-juventudes/slider/15.jpg"></div>

                                <div class="item" data-slide-number="15">
                                <img src="images/festival-juventudes/slider/16.jpg"></div>

                                <div class="item" data-slide-number="16">
                                <img src="images/festival-juventudes/slider/17.jpg"></div>

                                <div class="item" data-slide-number="17">
                                <img src="images/festival-juventudes/slider/18.jpg"></div>

                                <div class="item" data-slide-number="18">
                                <img src="images/festival-juventudes/slider/19.jpg"></div>

                                <div class="item" data-slide-number="19">
                                <img src="images/festival-juventudes/slider/20.jpg"></div>

                                <div class="item" data-slide-number="20">
                                <img src="images/festival-juventudes/slider/21.jpg"></div>

                                <div class="item" data-slide-number="21">
                                <img src="images/festival-juventudes/slider/DSC_0144.jpg"></div>

                            </div><!-- Carousel nav -->
                            <a class="left carousel-control" href=".site-gallery" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>                                       
                            </a>
                            <a class="right carousel-control" href=".site-gallery" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>                                       
                            </a>                                
                            </div>
                    </div>
                </div>
            </div>
        </div><!--/Slider-->
    </div>
</div>


 
        


<script>

	$(document).ready(function() {
	  $('.media').carousel({
	    pause: true,
	    interval: false,
	  });
	});

	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('.imagemodal').modal('show');   
		});		
	});

</script>
