<secondary-menu></secondary-menu>
<div class="festival-juventudes">
	<div class="festival-juventudes-banner">
		<img src="images/festival-juventudes/DSC_0144.jpg" alt="Festival Juventudes">
		<div class="festival-juventudes-banner-text">
			<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
			<h2>FESTIVAL DE LAS JUVENTUDES</h2>
			<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
			<br>
			El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
			</p>
		</div>
	</div>
	<div class="festival-juventudes-banner-text-mobile">
		<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
		<h2>FESTIVAL DE LAS JUVENTUDES</h2>
		<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
		<br>
		El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
		</p>
	</div>
	<div class="row">
		<div class="juventudes-video center-block">
			<iframe width="100%" height="328" frameborder="0" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCanalAltaVision%2Fvideos%2F628584573973775%2F&show_text=1&width=560"></iframe>
		</div>
	</div>
	<div class='col-md-8 festival-carousel'>
	  <div class="carousel slide media-carousel media">
	    <div class="carousel-inner">
	      <div class="item  active">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/1.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/2.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/3.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/4.jpg"></a>
	          </div>
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/5.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/6.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/7.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/8.jpg"></a>
	          </div>        
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/9.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/10.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/11.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/12.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	        <div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/13.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/14.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/15.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/16.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	      	<div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/17.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/18.jpg"></a>
	          </div>
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/19.jpg"></a>
	          </div>      
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/20.jpg"></a>
	          </div>      
	        </div>
	      </div>
	      <div class="item">
	      	<div class="row">
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/21.jpg"></a>
	          </div>          
	          <div class="col-md-3">
	            <a class="thumbnail pop"><img alt="" src="images/festival-juventudes/slider/DSC_0144.jpg"></a>
	          </div>    
	        </div>
	      </div>
	    </div>
	    <a data-slide="prev" href=".media" class="left carousel-control">‹</a>
	    <a data-slide="next" href=".media" class="right carousel-control">›</a>
	  </div>                          
	</div>
  
	<div class="modal fade imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <img src="" class="imagepreview" style="width: 100%;" >
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script>

	$(document).ready(function() {
	  $('.media').carousel({
	    pause: true,
	    interval: false,
	  });
	});

	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('.imagemodal').modal('show');   
		});		
	});

</script>
