FESTIVAL
<secondary-menu></secondary-menu>
<div class="festival-juventudes">
	<div class="festival-juventudes-banner">
		<img src="images/festival-juventudes/DSC_0144.jpg" alt="Festival Juventudes">
		<div class="festival-juventudes-banner-text">
			<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
			<h2>FESTIVAL DE LAS JUVENTUDES</h2>
			<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
			<br>
			El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
			</p>
		</div>
	</div>
	<div class="festival-juventudes-banner-text-mobile">
		<img src="images/festival-juventudes/festival-juventudes-logo.png" alt="Festival Juventudes logo">
		<h2>FESTIVAL DE LAS JUVENTUDES</h2>
		<p>Fundación Ciudadelas de Libertad es la organización Líder en la iniciativa del Festival de las Juventudes desde el año 2015.
		<br>
		El 12 de agosto se celebra el Día de las Juventudes a nivel mundial. Se visualiza esta celebración como oportunidad para crear un espacio productivo y atractivo para estudiantes y demás jóvenes del cantón de Desamparados.
		</p>
	</div>
</div>
