<secondary-menu></secondary-menu>

<div class="container imm">
	<div class="imm-banner">
		<img src="../images/IMM1.jpg" alt="">
		<div class="banner-text">
			<img src="../images/imm-icono.png" alt="">
			<h3>INSTITUCIÓN MARÍA MARIANO</h3>
			<p>Somos una red de personas que, aliadas a la causa de la Fundación continuamos extendiendo la obra que Don Samuel Bermúdez fundó</p>
		</div>
	</div>
	<div class="imm-text">
		<div class="col-md-4">
			<div>
				<span class="imm-span1">¡JUNTOS POR LA</span>
				<span class="imm-span2">MISMA</span>
				<span class="imm-span3">CAUSA!</span>
			</div>
		</div>
		<div class="col-md-8">
			<p>Inspirado en sus padres (el Sr. Mariano Bermúdez y la Sra. María Jiménez) Don Samuel Bermúdez Jiménez creó la IMM para hacer partícipes a sus familiares y a los trabajadores de Fundación Ciudadelas de Libertad.</p>
			<img src="../images/imm-padres.jpg" alt="">
		</div>
	</div>


</div>
