<secondary-menu></secondary-menu>

<div class="container imm">
	<div class="imm-banner">
		<img src="../images/IMM1.jpg" alt="">
		<div class="banner-text">
			<img src="../images/imm-icono.png" alt="">
			<h3 translate="IMM"></h3>
			<p translate="IMM_DESCRIPTION"></p>
		</div>
	</div>
	<div class="imm-text">
		<div class="col-md-4">
			<div>
				<span class="imm-span1" translate="IMM_TOGETHER"></span>
				<span class="imm-span2" translate="IMM_SAME"></span>
				<span class="imm-span3" translate="IMM_CAUSE"></span>
			</div>
		</div>
		<div class="col-md-8">
			<p translate="IMM_DESCRIPTION_TWO"></p>
			<img src="../images/imm-padres.jpg" alt="">
		</div>
	</div>
</div>
