<secondary-menu></secondary-menu>

<div class="container imm">
	<div class="imm-banner">
		<img src="../images/IMM1.jpg" alt="">
		<div class="banner-text">
			<img src="../images/imm-icono.png" alt="">
			<h3 translate="IMM"></h3>
			<p translate="IMM_DESCRIPTION"></p>
		</div>
	</div>
	<div class="col-md-4 imm-left">
		<img src="../images/imm-padres.jpg" alt="">
		<div class="imm-text">
			<span class="imm-span1" translate="IMM_TOGETHER"></span>
			<span class="imm-span2" translate="IMM_SAME"></span>
			<span class="imm-span3" translate="IMM_CAUSE"></span>
		</div>
	</div>
	<div class="col-md-8">
		<p translate="IMM_DESCRIPTION_TWO"></p>
		<form>
			<div class="form-group">
		    	<label for="IMM-name" translate="GIVE_US_A_HAND_NAME"></label>
		    	<input type="text" class="form-control" id="IMM-name" required>
		  	</div>
			<div class="form-group">
		    	<label for="IMM-ID" translate="FORM_ID"></label>
		    	<input type="number" class="form-control" id="IMM-ID" required>
		  	</div>
			<div class="form-group">
				<label for="IMM-birth" translate="FORM_BIRTH"></label>
				<input class="form-control" type="date" id="IMM-birth">
			</div>
			<div class="form-group">
		    	<label for="IMM-Address" translate="FORM_ADDRESS"></label>
		    	<input type="text" class="form-control" id="IMM-Address">
		  	</div>
		  	<div class="form-group">
		    	<label for="IMM-citizenship" translate="FORM_CITIZENSHIP"></label>
		    	<input type="text" class="form-control" id="IMM-citizenship">
		  	</div>
		  	<div class="form-group row">
		  		<div class="col-md-4">
		  			<label for="IMM-age" translate="FORM_AGE"></label>
		    		<input type="number" class="form-control" id="IMM-age">
		  		</div>
		  		<div class="col-md-4">
		  			<label for="IMM-marital-status" translate="FORM_MARITAL_STATUS"></label>
		  			<select class="form-control" id="IMM-marital-status">
						<option translate="FORM_MARITAL_STATUS_1"></option>
						<option translate="FORM_MARITAL_STATUS_2"></option>
						<option translate="FORM_MARITAL_STATUS_3"></option>
						<option translate="FORM_MARITAL_STATUS_4"></option>
						<option translate="FORM_MARITAL_STATUS_5"></option>
					</select>
		  		</div>
		  	</div>
			<div class="form-group">
				<label for="IMM-school" translate="FORM_SCHOOL"></label>
				<input type="text" class="form-control" id="IMM-school">
			</div>
			<div class="form-group">
				<label for="IMM-degree" translate="FORM_DEGREE"></label>
				<input type="text" class="form-control" id="IMM-degree">
			</div>
			<div class="form-group">
				<label for="IMM-area" translate="FORM_AREA"></label>
				<select class="form-control" id="IMM-area">
					<option translate="FORM_AREA_1"></option>
					<option translate="FORM_AREA_2"></option>
					<option translate="FORM_AREA_3"></option>
					<option translate="FORM_AREA_4"></option>
					<option translate="FORM_AREA_5"></option>
					<option translate="FORM_AREA_6"></option>
					<option translate="FORM_AREA_7"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="IMM-job-position" translate="FORM_JOB"></label>
				<input type="text" class="form-control" id="IMM-job-position">
			</div>
			<div class="form-group">
				<label for="IMM-company" translate="FORM_COMPANY"></label>
				<input type="text" class="form-control" id="IMM-company">
			</div>
			<div class="form-group">
				<label for="IMM-home-phone" translate="FORM_HOME_NUMBER"></label>
				<input type="number" class="form-control" id="IMM-home-phone">
			</div>
			<div class="form-group">
				<label for="IMM-email" translate="FORM_EMAIL"></label>
				<input type="email" class="form-control" id="IMM-email">
			</div>
			<div class="form-group">
				<label for="IMM-family" translate="FORM_FAMILY"></label>
				<select class="form-control" id="IMM-family">
					<option>1. JOSÉ BELTRÁN BERMÚDEZ JIMÉNEZ.</option>
					<option>2. FERNANDO BERMÚDEZ JIMÉNEZ.</option>
					<option>3. MARIANO BERMÚDEZ JIMÉNEZ.</option>
					<option>4. GONZALO BERMÚDEZ JIMÉNEZ.</option>
					<option>5. DIGNA BERMÚDEZ JIMÉNEZ.</option>
					<option>6. DAGOBERTO BERMÚDEZ JIMÉNEZ.</option>
				</select>
			</div>
			<div class="form-group">
				<label for="IMM-father" translate="FORM_FATHER"></label>
				<input type="text" class="form-control" id="IMM-father">
			</div>
			<div class="form-group">
				<label for="IMM-mother" translate="FORM_MOTHER"></label>
				<input type="text" class="form-control" id="IMM-mother">
			</div>
			<div class="form-group">
				<label for="IMM-siblings" translate="FORM_SIBLINGS"></label>
				<input type="text" class="form-control" id="IMM-siblings">
			</div>
			<div class="form-group">
				<label for="IMM-children" translate="FORM_CHILDREN"></label>
				<input type="text" class="form-control" id="IMM-children">
			</div>
		  	<button type="submit" class="btn btn-primary" translate="GIVE_US_A_HAND_SUBMIT"></button>
		</form>
	</div>
</div>
