<secondary-menu></secondary-menu>
<div class="prensa">
	<div class="prensa-banner">
		<img src="images/prensa-img.jpg" alt="Prensa">
		<div class="prensa-banner-text">
			<img src="images/prensa-logo.png" alt="Prensa">
			<h2 translate="FCL_NEWS"></h2>
			<p translate="FCL_NEWS_DESCRIPTION"></p>
		</div>
	</div>
	<div class="prensa-banner-text-mobile">
		<img src="images/danos-una-mano-logo.png" alt="Manos">
		<h2 translate="FCL_NEWS"></h2>
		<p translate="FCL_NEWS_DESCRIPTION"></p>
	</div>
	<div class="row first-video-row">
		<div class="col-md-6">
			<iframe width="100%" height="391" frameborder="0" src="https://www.youtube.com/embed/u3C1_UztNZ4"></iframe>
		</div>
		<div class="col-md-6">
			<iframe width="100%" height="391" frameborder="0" src="https://www.youtube.com/embed/ZP-lj7BBFSQ"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src="https://www.youtube.com/embed/GD4Dh53RcPc"></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src="https://www.youtube.com/embed/6XrQr5p3lOA"></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src="https://www.youtube.com/embed/D1Y_wJFOXgg"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src="https://www.youtube.com/embed/3nZWfQ0FMNw"></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src="https://www.youtube.com/embed/6U97emiBqRc"></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="100%" height="200" frameborder="0" src=""></iframe>
		</div>
	</div>
</div>
