<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link" href="#/proyectos"><span>Proyectos Sociales</span></a></li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Centro de Liderazgo</span></a>
      <ul>
        <span></span>
        <li><a href="#/cursos">Cursos gratuitos</a></li>
        <li><a href="#/concursoss">Concursos</a></li>
        <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
        <li><a href="#">Líderes Positivos</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Prensa</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Últimas noticias</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Informes</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Danos una mano</span></a>
      <ul>
        <span></span>
        <li><a href="#">Contribuciones</a></li>
        <li><a href="#">Voluntariado</a></li>
        <li><a href="#">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Servicios</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Bienes raíces</a></li>
        <li><a href="#">Talleres de liderazgo poisitivo</a></li>
        <li><a href="#">Presencia comunitaria</a></li>
        <li><a href="#">Asesorías</a></li>
        <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span>Proyectos Sociales</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span>Centro de <br>Liderazgo</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Prensa</span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span>Danos una <br>mano  </span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span>Servicios</span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/cursos">Cursos gratuitos</a></li>
      <li><a href="#/concursos">Concursos</a></li>
      <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
      <li><a href="#">Líderes Positivos</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a href="#">Últimas noticias</a></li>
      <li><a href="#">Testimonios</a></li>
      <li><a href="#">Informes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a href="#">Contribuciones</a></li>
      <li><a href="#">Voluntariado</a></li>
      <li><a href="#">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a href="#">Bienes raíces</a></li>
      <li><a href="#">Talleres de liderazgo poisitivo</a></li>
      <li><a href="#">Presencia comunitaria</a></li>
      <li><a href="#">Asesorías</a></li>
      <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
    </ul>
  </div>
</div>

<div class="proyectos liderazgo-container">
  <div class="row proyectos-banner">
    <img src="images/liderazgo.jpg">
    <div class="proyectos-desc">
      <div class="liderazgo-icon">
        <img src="images/liderazgo-icono.png" alt="">
      </div>
      <div class="programa-description">
        <p>PROGRAMA DE LIDERAZGO JUVENIL</p>
        <p>El propósito del Programa de Liderazgo Juvenil (PLJ) es desarrollar<br> 
        jóvenes líderes multiplicadores que impulsen el progreso social de<br>
        la comunidad.</p>
      </div>
    </div>
  </div>
  <div class="row liderazgo-text">
    <div class="col-md-4">
      <h3>Requisitos</h3>
      <p>Si tu respuesta es positiva a las siguientes preguntas, entonces podés ser parte de la comunidad de jóvenes líderes de nuestro querido cantón.</p>
    </div>
    <div class="col-md-4">
      <h3>Preguntate</h3>
      <p>1. ¿Sos un joven dispuesto a trabajar por el bien de tu familia, tu comunidad y tu institución educativa?</p>
      <p>2. ¿Tenés ideas que pueden convertirse en proyectos sociales para mejorar tu comunidad o la de otros?</p>
      <p>3. ¿Te gusta comunicarte claramente con los demás y expresar tus ideas?</p>
      <p>4. ¿Te gusta trabajar en grupos organizados para cumplir objetivos comunes?</p>
      <p>5. ¿Tenés un buen rendimiento académico y el deseo de colaborar en el desarrollo de tu colegio o universidad?</p>
      <p>6. ¿Te sentís bien liderando grupos y proyectos sociales enfocados a lograr mejoras sociales?</p>
    </div>
    <div class="col-md-4">
      <h3>Formalidades</h3>
      <p>1.  Ser una persona joven  costarricense de nacimiento,  nativa de Desamparados o tener al menos tres años de residir en el cantón.</p>
      <p>2.  Estudiante que califique con excelencia académica.</p>
      <p>3.  Estudiante de Colegio Técnico o Académico, de instituciones públicas o subsidiadas por el estado en modalidad diurno o nocturno.</p>
      <p>4.  Estudiante de alguna Universidad estatal, Colegio Universitario o Parauniversitario.</p>
    </div>
  </div>

</div>