<secondary-menu></secondary-menu>

<div class="proyectos liderazgo-container">
  <div class="row proyectos-banner">
    <img src="images/liderazgo.jpg">
    <div class="proyectos-desc">
      <div class="liderazgo-icon">
        <img src="images/liderazgo-icono.png" alt="">
      </div>
      <div class="programa-description">
        <p translate="YOUTH_LEADERSHIP_PROGRAM"></p>
        <p translate="YOUTH_LEADERSHIP_PROGRAM_DESCRIPTION"></p>
      </div>
    </div>
  </div>
  <div class="row liderazgo-text">
    <div class="col-md-4">
      <h3 translate="REQUIREMENTS"></h3>
      <p translate="REQUIREMENTS_DESCRIPTION"></p>
    </div>
    <div class="col-md-4">
      <h3 translate="ASK_YOURSELF"></h3>
      <p translate="QUESTION_ONE"></p>
      <p translate="QUESTION_TWO"></p>
      <p translate="QUESTION_THREE"></p>
      <p translate="QUESTION_FOUR"></p>
      <p translate="QUESTION_FIVE"></p>
      <p translate="QUESTION_SIX"></p>
    </div>
    <div class="col-md-4">
      <h3 translate="FORMALITIES"></h3>
      <p translate="FORMALITIES_ONE"></p>
      <p translate="FORMALITIES_TWO"></p>
      <p translate="FORMALITIES_THREE"></p>
      <p translate="FORMALITIES_FOUR"></p>
    </div>
  </div>

</div>
