<secondary-menu></secondary-menu>

<div class="proyectos">
  <div class="row proyectos-banner">
    <img src="images/MPS1.jpg">
    <div class="proyectos-desc">
      <div>
        <p translate="SOCIAL_PROJECTS"></p>
        <p translate="SOCIAL_PROJECTS_DESCRIPTION"></p>
      </div>
    </div>
  </div>
  <div class="proyectos-container">
    <div class="proyectos-list">
      <div class="pro-poder" data-toggle="modal" data-target="#poderModal"></div>
      <div class="pro-kopa" data-toggle="modal" data-target="#kopaModal"></div>
      <div class="pro-nsa" data-toggle="modal" data-target="#ninezModal"></div>
      <div class="pro-ept" data-toggle="modal" data-target="#eptModal"></div>
      <div class="pro-huellas" data-toggle="modal" data-target="#huellasModal"></div>
      <div class="pro-batsula" data-toggle="modal" data-target="#batsulaModal"></div>
      <!-- <div class="col-md-3"></div> -->
    </div>
    <div class="proyectos-list">
      <div class="pro-redes" data-toggle="modal" data-target="#redesModal"></div>
      <div class="pro-lideres" data-toggle="modal" data-target="#lideresModal"></div>
      <div class="pro-hasa" data-toggle="modal" data-target="#hasaModal"></div>
      <div class="pro-equidad" data-toggle="modal" data-target="#equidadModal"></div>
      <div class="pro-edufi" data-toggle="modal" data-target="#edufiModal"></div>
      <div class="pro-expa" data-toggle="modal" data-target="#expaModal"></div>
    </div>
  </div>
  <!-- PODER Modal -->
  <div class="modal fade" id="poderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="PODER">PODER: Querer es poder</h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/1querer_es_poder.jpg" alt="Poder: Querer es poder">
          <div class="modal-text">
            <p translate="PODER_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- KOPA Modal -->
  <div class="modal fade" id="kopaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="KOIPA"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/2koipa.jpg" alt="Inspiración, Pasión y Arte">
          <div class="modal-text">
            <p translate="KOIPA_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- NISA Modal -->
  <div class="modal fade" id="ninezModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="NISA"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/3nisa.jpg" alt="Niñez Saludable">
          <div class="modal-text">
            <p translate="NISA_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EPT Modal -->
  <div class="modal fade" id="eptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="EPT"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/4ept.jpg" alt="Educación Para Todos">
          <div class="modal-text">
            <p translate="EPT_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- HUELLAS Modal -->
  <div class="modal fade" id="huellasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="HUELLAS"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/5huellas.jpg" alt="HUELLAS: Respeto, Empatía y Apoyo">
          <div class="modal-text">
            <p translate="HUELLAS_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- BATSULA Modal -->
  <div class="modal fade" id="batsulaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="BATSULA"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/6batsula.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p translate="BATSULA_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- REDES Modal -->
  <div class="modal fade" id="redesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="EDUCATIONAL_NETWORKS"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/7redes.jpg" alt="Redes Educativas">
          <div class="modal-text">
            <p translate="EDUCATIONAL_NETWORKS_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- LIDERES Modal -->
  <div class="modal fade" id="lideresModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="SPORTS_LEADERS"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/8líderes_deportivos.jpg" alt="Líderes Deportivos">
          <div class="modal-text">
            <p translate="SPORTS_LEADERS_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- HASA Modal -->
  <div class="modal fade" id="hasaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="HASA"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/9hasa.jpg" alt="HASA: Hablemos de Salud">
          <div class="modal-text">
            <p translate="HASA_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EQUIDAD Modal -->
  <div class="modal fade" id="equidadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="EQUIDAD"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/10equidad.jpg" alt="Equidad: Seamos Personas">
          <div class="modal-text">
            <p translate="EQUIDAD_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EDUFI Modal -->
  <div class="modal fade" id="edufiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="EDUFI"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/11edufi.jpg" alt="EDUFI: Educación Sociofinanciera">
          <div class="modal-text">
            <p translate="EDUFI_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPA Modal -->
  <div class="modal fade" id="expaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" translate="EXPA"></h4>
        </div>
        <div class="modal-body">
          <img src="images/proyectos-sociales/modal/12expa.jpg" alt="EXPA: Expresión Artística Frailes">
          <div class="modal-text">
            <p translate="EXPA_DESCRIPTION"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
