<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link" href="#/proyectos"><span>Proyectos Sociales</span></a></li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Centro de Liderazgo</span></a>
      <ul>
        <span></span>
        <li><a href="#/cursos">Cursos gratuitos</a></li>
        <li><a href="#/concursoss">Concursos</a></li>
        <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
        <li><a href="#">Líderes Positivos</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Prensa</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Últimas noticias</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Informes</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Danos una mano</span></a>
      <ul>
        <span></span>
        <li><a href="#">Contribuciones</a></li>
        <li><a href="#">Voluntariado</a></li>
        <li><a href="#">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Servicios</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Bienes raíces</a></li>
        <li><a href="#">Talleres de liderazgo poisitivo</a></li>
        <li><a href="#">Presencia comunitaria</a></li>
        <li><a href="#">Asesorías</a></li>
        <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span>Proyectos Sociales</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span>Centro de <br>Liderazgo</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Prensa</span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span>Danos una <br>mano  </span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span>Servicios</span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/cursos">Cursos gratuitos</a></li>
      <li><a href="#/concursos">Concursos</a></li>
      <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
      <li><a href="#">Líderes Positivos</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a href="#">Últimas noticias</a></li>
      <li><a href="#">Testimonios</a></li>
      <li><a href="#">Informes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a href="#">Contribuciones</a></li>
      <li><a href="#">Voluntariado</a></li>
      <li><a href="#">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a href="#">Bienes raíces</a></li>
      <li><a href="#">Talleres de liderazgo poisitivo</a></li>
      <li><a href="#">Presencia comunitaria</a></li>
      <li><a href="#">Asesorías</a></li>
      <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
    </ul>
  </div>
</div>

<div class="container proyectos">
  <div class="row proyectos-banner">
    <img src="images/MPS1.jpg">
    <div class="proyectos-desc">
      <div>
        <p>PROYECTOS SOCIALES</p>
        <p>Siguiendo el ideal de nuestro fundador, Don Samuel Bermúdez Jiménez, de “ayudarnos los unos a los otros para ser libres”, el colectivo de estudiantes  del Programa de Liderazgo Juvenil participan activamente en iniciativas comunitarias que benefician a diferentes poblaciones del cantón.
        </br>De esta forma se busca poner en práctica las habilidades y capacidades de liderazgo de la comunidad joven FCL.</p>
      </div>
    </div>
  </div>
  <div class="proyectos-container">
    <div class="row proyectos-list">
      <div class="pro-poder"></div>
      <div class="pro-kopa"></div>
      <div class="pro-nsa"></div>
      <div class="pro-ept"></div>
      <div class="pro-huellas"></div>
      <div class="pro-batsula"></div>
      <!-- <div class="col-md-3"></div> -->
    </div>
    <div class="row proyectos-list">
      <div class="pro-redes"></div>
      <div class="pro-lideres"></div>
      <div class="pro-hasa"></div>
      <div class="pro-equidad"></div>
      <div class="pro-edufi"></div>
      <div class="pro-expa"></div>
    </div>
  </div>
</div>