<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link" href="#/proyectos"><span>Proyectos Sociales</span></a></li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Centro de Liderazgo</span></a>
      <ul>
        <span></span>
        <li><a href="#/cursos">Cursos gratuitos</a></li>
        <li><a href="#/concursoss">Concursos</a></li>
        <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
        <li><a href="#">Líderes Positivos</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Prensa</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Últimas noticias</a></li>
        <li><a href="#">Testimonios</a></li>
        <li><a href="#">Informes</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" href="#"><span>Danos una mano</span></a>
      <ul>
        <span></span>
        <li><a href="#">Contribuciones</a></li>
        <li><a href="#">Voluntariado</a></li>
        <li><a href="#">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" href="#"><span>Servicios</span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a href="#">Bienes raíces</a></li>
        <li><a href="#">Talleres de liderazgo poisitivo</a></li>
        <li><a href="#">Presencia comunitaria</a></li>
        <li><a href="#">Asesorías</a></li>
        <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span>Proyectos Sociales</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span>Centro de <br>Liderazgo</span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Prensa</span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span>Danos una <br>mano  </span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span>Servicios</span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/cursos">Cursos gratuitos</a></li>
      <li><a href="#/concursos">Concursos</a></li>
      <li><a href="#/agendaQuincenal">Agenda de actividades</a></li>
      <li><a href="#">Líderes Positivos</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a href="#">Últimas noticias</a></li>
      <li><a href="#">Testimonios</a></li>
      <li><a href="#">Informes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a href="#">Contribuciones</a></li>
      <li><a href="#">Voluntariado</a></li>
      <li><a href="#">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a href="#">Bienes raíces</a></li>
      <li><a href="#">Talleres de liderazgo poisitivo</a></li>
      <li><a href="#">Presencia comunitaria</a></li>
      <li><a href="#">Asesorías</a></li>
      <li><a href="#">Entrenamiento y gestión de proyectos sociales</a></li>
    </ul>
  </div>
</div>

<div class="proyectos">
  <div class="row proyectos-banner">
    <img src="images/MPS1.jpg">
    <div class="proyectos-desc">
      <div>
        <p>PROYECTOS SOCIALES</p>
        <p>Siguiendo el ideal de nuestro fundador, Don Samuel Bermúdez Jiménez, de “ayudarnos los unos a los otros para ser libres”, el colectivo de estudiantes  del Programa de Liderazgo Juvenil participan activamente en iniciativas comunitarias que benefician a diferentes poblaciones del cantón.
        </br>De esta forma se busca poner en práctica las habilidades y capacidades de liderazgo de la comunidad joven FCL.</p>
      </div>
    </div>
  </div>
  <div class="proyectos-container">
    <div class="proyectos-list">
      <div class="pro-poder" data-toggle="modal" data-target="#poderModal"></div>
      <div class="pro-kopa" data-toggle="modal" data-target="#kopaModal"></div>
      <div class="pro-nsa" data-toggle="modal" data-target="#ninezModal"></div>
      <div class="pro-ept" data-toggle="modal" data-target="#eptModal"></div>
      <div class="pro-huellas" data-toggle="modal" data-target="#huellasModal"></div>
      <div class="pro-batsula" data-toggle="modal" data-target="#batsulaModal"></div>
      <!-- <div class="col-md-3"></div> -->
    </div>
    <div class="proyectos-list">
      <div class="pro-redes" data-toggle="modal" data-target="#redesModal"></div>
      <div class="pro-lideres" data-toggle="modal" data-target="#lideresModal"></div>
      <div class="pro-hasa" data-toggle="modal" data-target="#hasaModal"></div>
      <div class="pro-equidad" data-toggle="modal" data-target="#equidadModal"></div>
      <div class="pro-edufi" data-toggle="modal" data-target="#edufiModal"></div>
      <div class="pro-expa" data-toggle="modal" data-target="#expaModal"></div>
    </div>
  </div>
  <!-- PODER Modal -->
  <div class="modal fade" id="poderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">PODER: Querer es poder</h4>
        </div>
        <div class="modal-body">
          <img src="images/poder.jpg" alt="Poder: Querer es poder">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- KOPA Modal -->
  <div class="modal fade" id="kopaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">KOPA: Inspiración, Pasión y Arte</h4>
        </div>
        <div class="modal-body">
          <img src="images/Art.jpg" alt="Inspiración, Pasión y Arte">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- NISA Modal -->
  <div class="modal fade" id="ninezModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">NISA: Niñez Saludable</h4>
        </div>
        <div class="modal-body">
          <img src="images/niñez.jpg" alt="Niñez Saludable">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EPT Modal -->
  <div class="modal fade" id="eptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">EPT: Educación Para Todos</h4>
        </div>
        <div class="modal-body">
          <img src="images/educacion.jpg" alt="Educación Para Todos">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- HUELLAS Modal -->
  <div class="modal fade" id="huellasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">HUELLAS: Respeto, Empatía y Apoyo</h4>
        </div>
        <div class="modal-body">
          <img src="images/huellas.jpg" alt="HUELLAS: Respeto, Empatía y Apoyo">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- BATSULA Modal -->
  <div class="modal fade" id="batsulaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Batsula: Responsabilidad Ambiental</h4>
        </div>
        <div class="modal-body">
          <img src="images/responsabilidadambiental.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- REDES Modal -->
  <div class="modal fade" id="redesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Redes Educativas</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- LIDERES Modal -->
  <div class="modal fade" id="lideresModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Líderes Deportivos</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- HASA Modal -->
  <div class="modal fade" id="hasaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">HASA:  Hablemos de Salud</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EQUIDAD Modal -->
  <div class="modal fade" id="equidadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Equidad: Seamos Personas</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EDUFI Modal -->
  <div class="modal fade" id="edufiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">EDUFI: Educación Sociofinaciera</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPA Modal -->
  <div class="modal fade" id="expaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">EXPA: Espresión Artística Frailes</h4>
        </div>
        <div class="modal-body">
          <img src="images/redes.jpg" alt="Batsula: Responsabilidad Ambiental">
          <div class="modal-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>