<secondary-menu></secondary-menu>

<div class="quienes-somos container">
  <br>
  <div id="myCarousel" class="test carousel slide" data-ride="carousel">
    <img class="quienes-somos-img" src="../images/quienes-somos.jpg" alt="Chania" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target=".test" data-slide-to="0" class="active"></li>
      <li data-target=".test" data-slide-to="1"></li>
      <li data-target=".test" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-caption">
          <div class="carousel-caption-col">
            <h4>¿QUIÉNES SOMOS?</h4>
            <p>Una institución de carácter social, sin fines de lucro y  autogestionaria que promueve el desarrollo educativo y cultural de las juventudes del cantón de Desamparados. Promovemos el liderazgo como herramienta de transformación social.</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption">
          <div class="carousel-caption-col">
            <h4>JUNTA ADMINISTRATIVA</h4>
            <ul>
              <li>Presidente/Sr Jorge Chinchilla Castro</li>
              <li>Vicepresidente/Sr. Víctor Bermúdez Mora</li>
              <li>Tesorero/Sr. Guillermo Azofeifa Cascante</li>
              <li>Vocal 1/Sr. Jorge Agüero Chaves</li>
              <li>Vocal 2/Sr. Roberto Díaz Páez</li>
            </ul>
          </div>
          <div class="carousel-caption-col">
            <h4>COMITÉS ASESORES</h4>
            <ul>
              <li>Comité de Auditoría</li>
              <li>Comité del Programa de Liderazgo Juvenil</li>
              <li>Comité de la Institución María Mariano</li>
              <li>Comité de Comunicaciones</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption">
          <div class="carousel-caption-col">
            <h4>EQUIPO DE TRABAJO</h4>
            <ul>
              <li>Dirección Ejecutiva/Lic. Luis César Monge Hernández</li>
              <li>Coordinación del PLJ/Licda. Alejandra Solís Madriz</li>
              <li>Trabajo Social PLJ/Ariana Fonseca Vindas</li>
              <li>Secretaría PLJ/Bangili Barquero Umaña</li>
            </ul>
          </div>
          <div class="carousel-caption-col">
            <ul>
              <li>Coordinación Administrativa/Licda. Karla Fernández Barboza</li>
              <li>Contabillidad/Cristopher Ruiz Herrera</li>
              <li>SecretarÍa Administrativa/Ivannia Baltodano Romero</li>
              <li>Administración de Comunicaciones/Francinny Durán Obando</li>
              <li>Recepción/ Luis Zúñiga Del Valle</li>
              <li>Servicios Generales/Miriam Padilla Mora</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href=".test" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href=".test" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
