<!-- desktop nav  -->
<div class="desktop-nav">
  <ul id="nav">
    <li class="nav-figure"><a class="nav-link"  ng-href="#/proyectos"><span translate="SECONDARY_SOCIAL_PROJECTS"></span></a></li>
    <li class="nav-figure"><a class="nav-link even" ng-href="#/"><span translate="SECONDARY_LIDERSHIP_CENTER"></span></a>
      <ul>
        <span></span>
        <li><a ng-href="#/agendaQuincenal" translate="SECONDARY_ACTIVITY_SCHEDULE"></a></li>
        <li><a ng-href="#/liderespositivos" translate="SECONDARY_POSITIVE_LEADERS"></a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" ng-href="#/"><span translate="SECONDARY_PRESS"></span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a ng-href="#/ultimasnoticias" translate="SECONDARY_LATEST_NEWS"></a></li>
        <li><a ng-href="#/testimonios" translate="SECONDARY_TESTIMONIES"></a></li>
        <li><a ng-href="#/informes" translate="SECONDARY_REPORTS"></a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link even" ng-href="#/"><span translate="SECONDARY_GIVE_US_A_HAND"></span></a>
      <ul>
        <span></span>
        <li><a ng-href="#/contribuciones" translate="SECONDARY_CONTRIBUTIONS"></a></li>
        <li><a ng-href="#/voluntariado" translate="SECONDARY_VOLUNTEERING"></a></li>
        <li><a ng-href="#/tcu">TCU</a></li>
      </ul>
    </li>
    <li class="nav-figure"><a class="nav-link" ng-href="#/"><span translate="SECONDARY_SERVICES"></span></a>
      <ul class="even-sub-menu">
        <span></span>
        <li><a ng-href="#/bienesraices" translate="SECONDARY_REAL_STATE"></a></li>
        <li><a ng-href="#/taller" translate="SECONDARY_POSITIVE_LEADERSHIP_WORKSHOPS"></a></li>
        <li><a ng-href="#/presenciacomunitaria" translate="SECONDARY_COMMUNITY_PRESENCE"></a></li>
        <li><a ng-href="#/asesorias" translate="SECONDARY_COUNSELING"></a></li>
        <li><a ng-href="#/entrenamiento" translate="SECONDARY_TRAINING_AND_PROJECT_MANAGEMENT"></a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- mobile nav  -->

<div class="row mobile-nav">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ProyectosSociales">
    <a href="#/proyectos"><i class="fa fa-heart" aria-hidden="true"></i><span translate="SECONDARY_SOCIAL_PROJECTS"></span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#CentroDeLiderazgo">
    <a href=""><i class="fa fa-users" aria-hidden="true"></i><span translate="SECONDARY_LIDERSHIP_CENTER"></span></a>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Prensa">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i><span translate="SECONDARY_PRESS"></span>
  </button>
  <button type="button" class="navbar-toggle collapsed even" data-toggle="collapse" data-target="#DanosUnaMano">
    <i class="fa fa-hand-paper-o" aria-hidden="true"></i><span translate="SECONDARY_GIVE_US_A_HAND"></span>
  </button>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Servicios">
    <i class="fa fa-globe" aria-hidden="true"></i><span translate="SECONDARY_SERVICES"></span>
  </button>

  <div class="collapse navbar-collapse even" id="CentroDeLiderazgo">
    <ul class="nav navbar-nav">
      <li><a href="#/agendaQuincenal" translate="SECONDARY_ACTIVITY_SCHEDULE"></a></li>
      <li><a href="#/liderespositivos" translate="SECONDARY_POSITIVE_LEADERS"></a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Prensa">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/ultimasnoticias" translate="SECONDARY_LATEST_NEWS"></a></li>
      <li><a ng-href="#/testimonios" translate="SECONDARY_TESTIMONIES"></a></li>
      <li><a ng-href="#/informes" translate="SECONDARY_REPORTS"></a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse even" id="DanosUnaMano">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/contribuciones" translate="SECONDARY_CONTRIBUTIONS"></a></li>
      <li><a ng-href="#/voluntariado" translate="SECONDARY_VOLUNTEERING"></a></li>
      <li><a ng-href="#/tcu">TCU</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="Servicios">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/bienesraices" translate="SECONDARY_REAL_STATE"></a></li>
      <li><a ng-href="#/taller" translate="SECONDARY_POSITIVE_LEADERSHIP_WORKSHOPS"></a></li>
      <li><a ng-href="#/presenciacomunitaria" translate="SECONDARY_COMMUNITY_PRESENCE"></a></li>
      <li><a ng-href="#/asesorias" translate="SECONDARY_COUNSELING"></a></li>
      <li><a ng-href="#/entrenamiento" translate="SECONDARY_TRAINING_AND_PROJECT_MANAGEMENT"></a></li>
    </ul>
  </div>
</div>
