<secondary-menu></secondary-menu>
<div class="servicios">
	<div class="servicios-banner">
		<img src="images/servicios/DSC_0144.jpg" alt="Servicios">
		<div class="servicios-banner-text">
			<img src="images/servicios/servicios-logo.png" alt="Servicios">
			<h2>SERVICIOS FCL</h2>
			<p>Fundación Ciudadelas de Libertad posee más de 40 años de pericia en diferentes áreas interdiciplinarias que han sostenido nuestra misión de manera exitosa. Esto nos permite compartir nuestras habilidades y experiencia con otras organizaciones, empresas e instituciones que buscan crecer.</p>
		</div>
	</div>
	<div class="servicios-banner-text-mobile">
		<img src="images/servicios/servicios-logo.png" alt="Servicios">
		<h2>SERVICIOS FCL</h2>
		<p>Fundación Ciudadelas de Libertad posee más de 40 años de pericia en diferentes áreas interdiciplinarias que han sostenido nuestra misión de manera exitosa. Esto nos permite compartir nuestras habilidades y experiencia con otras organizaciones, empresas e instituciones que buscan crecer.</p>
	</div>
	<div class="row">
		<div class="serv-container">
			<h4>CAPACITACIONES EN MANEJO DE GRUPOS</h4>
			<p>Aplicar estrategias y técnicas para la conducción competente y calificada de equipos de trabajo.</p>
		</div>
		<div class="serv-container">
			<h4>PROYECTOS DE ORGANIZACIÓN COMUNAL</h4>
			<p>Nuestro equipo de trabajo por su pericia profesional, puede realizar propuestas de proyectos de presencia comunitaria para su organización o empresa.</p>
		</div>
		<div class="serv-container">
			<h4>ASESORÍA EN EL ENFOQUE DE JUVENTUDES</h4>
			<p>Si su organización o institución necesita conocer más acerca de este enfoque, nosotros llevamos más de 40 años trabajando bajo esa línea y tenemos la total disposición de ayudarle. </p>
		</div>
		<div class="serv-container camp-juveniles">
			<h4>CAMPAMENTOS JUVENILES</h4>
			<p>La logística de estas actividades implican de  dinamismo,  coordinación eficiente , experiencia y trabajo en equipo. Nosotros estamos complacidos de brindarle este servicio.</p>
		</div>
		<div class="serv-container">
			<h4>TALLERES PARA EL DESARROLLO DE TALENTO HUMANO</h4>
			<p>Podemos brindarle asesorías y facilitación de procesos de capacitación y desarrollo del Talento Humano</p>
		</div>
		<div class="serv-container">
			<h4>FORMACIÓN EN HABILIDADES PARA LA VIDA</h4>
			<p>Nuestro equipo de profesionales está capacitado para brindar formación complementaria en Habilidades para la Vida dirigida a Centros Educativos</p>
		</div>
	</div>
	<div class="row">
		<form>
			<h1>COTIZACIÓN DE SERVICIOS</h1>
			<div class="col-xs-6">
				<div class="form-group">
			    	<label for="servicios-name">NOMBRE COMPLETO</label>
			    	<input type="text" class="form-control" id="servicios-name" required>
			  	</div>
				<div class="form-group">
			    	<label for="servicios-company">EMPRESA O INSTITUCIÓN</label>
			    	<input type="text" class="form-control" id="servicios-company" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-work">PUESTO LABORAL</label>
			    	<input type="text" class="form-control" id="servicios-work" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-tel">TELÉFONO</label>
			    	<input type="text" class="form-control" id="servicios-tel" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-ext">EXTENSIÓN</label>
			    	<input type="text" class="form-control" id="servicios-ext">
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-email">CORREO ELECTRÓNICO</label>
			    	<input type="email" class="form-control" id="servicios-email" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-med">MEDIO POR EL CUÁL DESEA SER CONTACTADO</label>
			    	<br>
			    	<input type="checkbox" name="" value="">TELÉFONO
			    	<input type="checkbox" name="" value="">CORREO ELECTRÓNICO
			  	</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
			    	<label for="servicios-opt">SERVICIO SOLICITADO</label>
			    	<select class="form-control" id="servicios-opt" required>
			    		<option>CAPACITACIONES EN MANEJO DE GRUPOS</option>
						<option>PROYECTOS DE ORGANIZACIÓN COMUNAL</option>
						<option>ASESORÍA EN EL ENFOQUE DE JUVENTUDES</option>
						<option>CAMPAMENTOS JUVENILES</option>
						<option>TALLERES PARA EL DESARROLLO DE TALENTO HUMANO</option>
						<option>FORMACIÓN EN HABILIDADES PARA LA VIDA</option>
					</select>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-per">CANTIDAD DE PERSONAS A PARTICIPAR</label>
			    	<input type="num" class="form-control" id="servicios-per" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-date">FECHA PARA LA EJECUCIÓN</label>
			    	<input type="date" class="form-control" id="servicios-date" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-add">DIRECCIÓN DONDE DESEA LAS CAPACITACIONES</label>
			    	<input type="text" class="form-control" id="servicios-add">
			  	</div>
			  	<div class="form-group">
			    	<label for="servicios-mjs">MENSAJES</label>
			    	<textarea class="form-control" id="servicios-mjs" cols="30" rows=5></textarea>
			  	</div>
			  	<button type="submit" class="btn btn-primary" translate="GIVE_US_A_HAND_SUBMIT"></button>
			</div>
		</form>
	</div>
</div>